
/* **********覆盖quasar组件默认样式********************* *-S*/
.q-btn--fab {
  .q-icon {
    width: 55%;
    height: auto;
    top: 50%;
    left: 50%;
    margin: -25% 0 0 -25%;
  }
}

.menu-item-btn {
  .q-btn__wrapper {
    width: 0.55rem;
    height: 0.55rem;
  }
}

/* **********覆盖quasar组件默认样式********************* *-E*/

/* **********拖拽菜单********************* *-S*/
.container-menu-w {
  width: 100%;
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 500;
  transition: transform 0.7s;
  background: var(--q-gb-bg-c-21);
  .menu-item-img,
  .play-icon-wrap {
    background: transparent no-repeat 0 0 / 0.24rem 0.24rem;
  }

  &.black2 {
    .floating-menu {
      // backdrop-filter: blur(5px);
    }
    .menu-item-img,
    .play-icon-wrap {
      background-image: var(--q-color-img-bg-14);
    }
    .footer-menu-item {
      .menu-item-img {
      }
    }
  }

  &.scrolling-up {
    transform: translateY(0.56rem);
  }

  &.scrolling-down {
    transform: unset;
  }
  .bottom-banner {
    height: 0.56rem;
    width: 100%;
    position: relative;
    .banner {
      width: 100%;
      height: 100%;
    }
    .close {
      position: absolute;
      right: 0.1rem;
      top: calc(50% - 0.08rem);
      height: 0.16rem;
      width: 0.16rem;
    }
  }
}

.sub-background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 502;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  transition: opacity 0.4s;

  &.show-slow {
    opacity: 1;
  }

  .sub-m-menu {
    width: 3.2rem;
    height: 0.66rem;
    border-radius: 0.12rem;
    margin-bottom: 0.8rem;
    transform: translate3d(0, 1rem, 0);
    transition: transform 0.4s;

    &.show-slow {
      transform: translate3d(0, 0, 0);
    }

    .wrapper {
      width: 25%;
      height: 100%;
      position: relative;

      &.no-display {
        display: none;
      }

      &.current_sub_menu {
        &:after {
          content: " ";
          display: block;
          width: 0.44rem;
          height: 0.28rem;
          z-index: 1;
          border-radius: 0.22rem;
          margin-top: 0.14rem;
        }
      }

      .wrapper-inner {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
      }

      .play-icon-wrap {
        height: 0.2rem;
        width: 0.2rem;
        z-index: 2;

        &[class*="duying"] {
          background-position: 0 -1.5rem !important;
        }

        &[class*="rang"] {
          background-position: 0 -1.8rem !important;
        }

        &[class*="daxiao"] {
          background-position: 0 -2.4rem !important;
        }

        &[class*="jiaoqiu"] {
          background-position: 0 -2.1rem !important;
        }
      }

      .title-contain {
        max-width: 100%;
        font-size: 0.11rem;
        z-index: 2;
        padding-top: 0.06rem;
        flex-wrap: nowrap;

        span {
          flex-shrink: 0;
        }
      }
    }
  }
}

.floating-menu {
  /*  单号9070 H5还原度问题 */
  padding-bottom: 0.05rem;
  /* 兼容 IOS<11.2 */
  height: calc(0.66rem + constant(safe-area-inset-bottom));
  /* 兼容 IOS>11.2 */
  height: calc(0.66rem + env(safe-area-inset-bottom));
  /* 兼容 IOS<11.2 */
  padding-bottom: calc(0.05rem + constant(safe-area-inset-bottom));
  /* 兼容 IOS>11.2 */
  padding-bottom: calc(0.05rem + env(safe-area-inset-bottom));
  display: flex;
  align-items: center;
  justify-content: space-around;

  .inner-img {
    width: 0.24rem;
    height: 0.24rem;
    display: block;
    transition: transform 0.4s;

    &.active {
      width: 0.14rem;
      height: 0.14rem;
      transform: rotateZ(180deg);
    }
  }

  .menu-item-btn {
    width: 0.55rem;
    height: 0.55rem;
  }

  .footer-menu-item {
    width: 0.75rem;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;

    &.is-hidden {
      display: none;
    }

    &.sub-menu-first {
      width: 0;
      height: 0;
      overflow: hidden;
      transition: width 0.2s, height 0.2s;

      &.effect-show {
        width: 0.75rem;
        height: 0.55rem;
      }
    }

    &.disabled {
      opacity: 0.2 !important;
    }

    &.f-disabled-m {
      opacity: 0.4;
      display: none;
    }

    .item-img-wrapper {
      width: 0.24rem;
      height: 0.24rem;
      margin-top: 0.04rem;
      margin-bottom: 0.02rem;
      display: flex;
      justify-content: center;
      
      span {
        margin: auto;
      }

      &.effected {
        span {
          transition: transform 1s;
        }

        &.rotate-clock-wise {
          span {
            transform: rotate(360deg);
          }
        }
      }
    }

    .m-item-inner {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      transform: translateZ(0px);

      .play-w-change-icon {
        position: absolute;
        right: 0;
        top: unset; /*  联想S5手机自带浏览器不支持该关键字,导致图标往下掉 */
        width: 0.09rem;
        height: 0.09rem;
      }
      .activity-img{
        position: absolute;
      }
    }

    &:first-child {
      .menu-item-img {
        width: 0.24rem;
        height: 0.24rem;
      }
    }

    .menu-item-img {
      width: 0.24rem;
      height: 0.24rem;
      display: block;


      &.setting-newstan-icon {
        width: 0.2rem !important;
      }

      &.f-icon-follow1 {
        background-position: 0 -0.3rem !important;
        &.favoriteButton {
          background-image: var(--q-color-com-img-bg-225);
        }
      }

      &.f-icon-bet-order {
        background-position: 0 -0.9rem !important;
      }

      &.f-icon-filter {
        background-position: 0 -0.6rem !important;
      }

      &.fillter-high-light {
        background: var(--q-color-img-bg-12) no-repeat 100% 100% !important;
      }
      &.f-icon-refresh {
        background-position: 0 -1.2rem !important;
      }

      &.f-icon-sub-duying {
        background-position: 0 -1.5rem !important;
      }

      &.f-icon-sub-rang {
        background-position: 0 -1.8rem !important;
      }

      &.f-icon-sub-daxiao {
        background-position: 0 -2.4rem !important;
      }

      &.f-icon-sub-jiaoqiu {
        background-position: 0 -2.1rem !important;
      }
    }
    .not_title{
      width: 0.58rem;
      height: 0.58rem;
      margin-top: 5px;
    }
    div {
      line-height: 1;
    }

    .menu-item-title {
      min-width: 0.45rem;
      color: var(--q-color-com-fs-color-2);
      font-size: 0.11rem;
      line-height: 0.14rem;
      display: flex;
      justify-content: center;
    }
  }

  .footer-menu-icon {
    width: 0.24rem;
    height: 0.24rem;
  }
}

/* **********拖拽菜单********************* *-E*/

/* **********返回顶部********************* *-S*/
.footer-menu-item2 {
  position: fixed;
  width: 0.6rem;
  height: 0.3rem;
  z-index: 545;
  left: 50%;
  bottom: 0.38rem;
  transform: translateX(-50%);
  line-height: 0.55rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.15rem;
  background-color: var(--q-color-com-bg-color-8);
  box-shadow: var(--q-color-box-shadow-color-2);
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;
  visibility: visible;

  &.bottom-h {
    bottom: 0.57rem;
  }

  &.is_iphone {
    margin-left: -2px;
  }

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .menu-item-img2 {
    vertical-align: middle;
  }

  img {
    width: 0.13rem;
    height: 0.16rem;
  }
}

/* **********返回顶部********************* *-E*/
