// 暂时自定义样式覆盖

#app-h5 {
  .sport-menu-item{
    width: 0.68rem;
  }
  // 赛事列表 页
  .match-list-page{
    background: #fff;
    .hairline-border::after{
      display: none;
    }
    .s-w-item{
      background: #ffffff;
    }
    .odd-column-item{
      background: #F2F2F6 !important;
    }
  }
}