// 暂时自定义样式覆盖

#app-h5 {
  .sport-menu-item{
    width: 0.68rem;
  }
  // 赛事列表 页
  .match-list-page{
    background: #fff;
    .hairline-border::after{
      display: none;
    }
  }
  .right-border{
    height: 20px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    padding-left: 8px;
    &::before{
      content: "";
      height: 100%;
      width: 10px;
      border-radius: 20px;
      background: var(--q-virtual-bg-c-2);
      display: block;
      position: absolute;
      left: -7px;
    }
  }
}