#app-h5 {
  .scroll-wrapper{
    background: var(--q-gb-bg-c-21);
  }
  .s-w-item{
    background: var(--q-gb-bg-c-21);
  }
  // 赛事列表 页
  .match-list-page{
    background: var(--q-gb-bd-c-1);
    .hairline-border::after{
      display: none;
    }
  }
  .right-border{
    position: relative;
    overflow: hidden;
    &::before{
      content: "";
      height: 16px;
      width: 10px;
      border-radius: 16px;
      background: var(--q-gb-t-c-1);  
      display: block;
      position: absolute;
      left: -7px;
    }
  }
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}
.overflow-hidden {
  overflow: hidden;
}

.base-color {
  color: var(--q-analysis-text-color-20);
}

.base-bg {
  background-color: var(--q-gb-bg-c-23);
}

.tab-active {
  background-color: var(--q-gb-bg-c-28);
}

.tab-default {
  background-color: var(--q-gb-bg-c-18);
}
// 浅色header
.sub-header {
  background: var(--q-gb-bg-c-28);
}
// 平 走 蓝色
.ping-or-zou-color {
  color: var(--q-analysis-text-color-8);
}


.shadow {
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.04);
}
.radius-4 {
  border-radius: 4px;
}
