// 暂时自定义样式覆盖

#app-h5 {
  // .sport-menu-item{
  //   width: 0.68rem;
  // }
  // 赛事列表 页
  .match-list-page{
    background: #fff;
    .sport-title{
      background: #f7f9fe;
    }
    .match-inner-container{
      background: #ffffff;
    }
    .s-w-item{
      background: #ffffff;
    }
  }
}