/*
 * @Author: Amor
 * @Date: 2020-12-23 14:11
 * @Description: 虚拟体育 赛事列表 头部
*/
body {
  .c-virtual-list-header {
    .list-header {
      justify-content: space-between;
      background-image: var(--qq--background-gradient-1);
      .list-header-title {
        height: 36px;
        font-size: 14px;
        color: var(--qq--yb-text-color27);
      }
    }

    /*  球种 */
    .match-type-tabs {
      background: var(--qq--theme-body-bg-color);
      border-top: 1px solid var(--qq--match-border-color2);
      border-bottom: 1px solid var(--qq--match-border-color2);
      .tabs-item {
        color: var(--qq--vr-list-replay-text-color);
        /*  未选中时的图标 */
        .sport-img {
          background-image: var(--qq--bg-image-old-url43);
        }
        &.active {
          .sport-img {
            background-image: var(--qq--bg-image-old-url2);
          }
          .tab-text {
            color: var(--qq--yb-text-color27);
            font-weight: 600;
          }
        }
      }
    }

    /*  联赛 */
    .leagues-tabs {
      background: var(--qq--background-gradient-12);
      font-size: 13px;
    }
  }
}
