
$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// 详情页玩法集背景颜色
$details-tab-bg-color: #ffffff;
// 详情页玩法模板背景颜色
$details-odds-bg-color: #F7F9FE;
