# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
dev-target-env.js

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env?

job/output/*
.VSCodeCounter/*
.VSCodeCounter

.history
.env* 
public/*/server-resource/*
public/yazhou-pc/server-resource/*
public/yazhou-h5/server-resource/*
public/new-pc/server-resource/*
public/app-h5/server-resource/*
/yarn.lock

./dev-target-env.js

/project/ouzhou-pc/index.html
/project/ouzhou-h5/index.html
/project/yazhou-pc/index.html
/project/yazhou-h5/index.html
/project/new-pc/index.html
/project/app-h5/index.html
/project/activity/index.html
/project/animation/index.html
/project/template-project/index.html
/project/activity/src/css/server-img/other-img
/project/activity/src/store
/git-console.txt
/git-console.json
git-console.md

# 脚本生成的文件
/src/output/index.js
/src/output/project/index.js
/log
/src/output/index.js
/package-lock.json