.virtual-sports-stage {
  min-height: 2.02rem;
  position: relative;
}

.voice-wrap {
  width: 0.4rem;
  height: 0.2rem;
  position: absolute;
  bottom: 0.04rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 0.2rem;
    height: 0.2rem;
    fill: rgba(255, 255, 255, 0.9);
  }
}

.banner {
  border-radius: 0.05rem;
  width: 3.6rem;
  height: 2.02rem;
  margin: auto;
  overflow: hidden;
  background-image: var(--q-color-com-img-bg-96);
  background-size: 100% 100%;
  position: relative;

  &.horse {
    background-image: var(--q-color-com-img-bg-141);
  }

  &.dog {
    background-image: var(--q-color-com-img-bg-142);
  }

  &.basketball {
    background-image: var(--q-color-com-img-bg-143);
  }

  &.motorcycle {
    background-image: var(--q-color-com-img-bg-144);
  }

  &.dirt_motorcycle {
    background-image: var(--q-color-com-img-bg-145);
  }

  .wrapper-loading-c {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 40% !important;
    transform: translate(-50%, -50%);
    padding: 0;
  }

  .video-main {
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .current-score {
    width: 2.25rem;
    height: 0.36rem;
    border-radius: 0.04rem;
    background-color: rgba(0, 0, 0, 0.4);
    bottom: 0.04rem;
    left: calc(50% - 0.13rem);
    transform: translateX(-50%);
    position: absolute;
    z-index: 2;
    color: #ffffff;

    .score-info-wrapper {
      width: 100%;
      .team-and-score {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .team-name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .penalty-score-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .team-placeholder-wrapper {
          position: relative;
          .icon-penalty {
            position: absolute;
            top: .03rem;
            right: 0;
            width: .11rem;
            height: .11rem;
            background:  var(--q-color-com-img-bg-114) no-repeat center / cover;
          }
        }

        /* 占位隐藏，目的是为了让图标定位准确 对齐 */
        .team-name-placeholder {
          max-height: .18rem;
          visibility: hidden;
        }
      }
    }

    .c-s-timer-w {
      width: 0.26rem;
      height: 100%;
      border-radius: 0.02rem;
      position: absolute;
      top: 0;
      right: -0.24rem;
      overflow: hidden;

      .update-timer {
        position: absolute;
        right: -100px;
        width: 1px;
      }

      &.basketball {
        border-top-left-radius: 0;
        border-top-right-radius: 0.04rem;
        border-bottom-right-radius: 0.04rem;
        border-bottom-left-radius: 0;
        // background-color: #FFB001;

        img {
          width: 0.21rem;
          height: auto;
          display: block;
        }
      }
    }
  }

  .video-wrapper {
    width: 100%;
    height: 100%;

    .video-playing-er {
      width: 100%;
      height: 100%;
    }
  }
}

.fat-box {
  overflow: hidden;
}

.timetop {
  height: 100%;
}

.video-playing-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.fit-box {
  padding-top: 0.15rem;
  padding-bottom: 0.19rem;
}

.score {
  width: 2.6rem;
  height: 0.9rem;
  background-image: var(--q-color-com-img-bg-115);
  background-size: 100% 100%;
  margin: auto;
  margin-top: 0.38rem;
  position: relative;
  border-radius: 0.04rem;

  .match-over {
    position: absolute;
    left: 0.9rem;
    top: -0.13rem;
    width: 0.8rem;
    height: 0.26rem;
    line-height: 0.26rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 0.15rem;
    font-size: 0.1rem;
    color: rgba(255, 255, 255, 0.8);
  }
}

.score-box {

  width: 0.5rem;
  height: 0.5rem;

  border-radius: 4px;
  font-size: 0.24rem;
  margin: 0 0.075rem;
  border-radius: 2px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mmp-status {
  margin-top: 0.15rem;

  .inner {
    display: flex;
    align-items: center;
    padding: 0 0.05rem 0 0.1rem;
    height: 0.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    border-radius: 0.15rem;

    .icon {
      width: 0.22rem;
      height: 0.22rem;
      margin-left: 6px;
      background: var(--q-color-com-img-bg-116) no-repeat;
      background-size: 100%;
    }
  }
}

.stage {

  font-size: 0.14rem;
  color: #F5F8FA;
  text-align: center;
}

.times {

  font-size: 0.16rem;
  color: var(--q-color-fs-color-50);
  text-align: center;
  padding-left: 0.06rem;
}

/*  足球赛果 */
.football-score {
  background-image: var(--q-color-com-img-bg-115);
  background-size: 100% 100%;
  height: 0.86rem;
  margin-top: 0.38rem;

  .name-wrap {
    flex: 1;
    display: flex;

    &.left {
      text-align: right;
      justify-content: flex-end;
    }

    img {
      width: 0.18rem;
      height: 0.18rem;
      margin: 0 0.04rem;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.match-name {
  width: 1rem;

  font-size: 0.14rem;
  color: #FFFFFF;
}

.msc-wrap {
  width: 0.98rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1;

  .heng {
    font-size: 16px;
    margin: 0 .05rem .04rem .05rem;
  }

  .match-msc {
    font-size: 0.22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    &.match-penalty {
      position: relative;
      width: 100%;
      font-size: .18rem;
      .icon-penalty {
        position: absolute;
        top: .03rem;
        left: -.18rem;
        width: .11rem;
        height: .11rem;
        background:  var(--q-color-com-img-bg-114) no-repeat center / cover;
      }
      .penalty-score {
        display: flex;
        align-items: center;
      }
    }
  }

  .match-end {
    text-align: center;
    font-size: 0.1rem;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 0.06rem;
  }
}

/*************** 头部返回title开始 ***************-S*/
.title {
  height: 0.44rem;
  line-height: 0.44rem;
}

/*************** 头部返回title结束 ***************-E*/
/*************** 返回按钮弹性盒开始 ***************-S*/
.detail-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0.15rem;
}

/*************** 返回按钮弹性盒结束 ***************-E*/
/*************** 返回按钮开始 ***************-S*/
.detail_back {
  width: 0.1rem;
  height: 0.18rem;
  background-image: var(--q-color-com-img-bg-3);
  background-size: 100% 100%;
}

/*************** 返回按钮结束 ***************-E*/
/*************** 联赛名开始 ***************-S*/
.text-style {

  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
}

/*************** 联赛名结束 ***************-E*/
/*************** 无注单开始 ***************-S*/
.no-single {
  width: 0.18rem;
  height: 0.2rem;
  background-image: var(--q-color-com-img-bg-95);
  background-size: 100% 100%;
  margin-right: 0.21rem;
}

/*************** 无注单结束 ***************-E*/
/*************** 有注单开始 ***************-S*/
.have-single {
  width: 0.18rem;
  height: 0.2rem;
  background-image: var(--q-color-com-img-bg-85);
  background-size: 100% 100%;
  margin-right: 0.21rem;
}

/*************** 有注单结束 ***************-E*/
/*************** 倒计时开始 ***************-S*/
.time-down {
  margin-top: 0.1rem;
}

/*************** 倒计时结束 ***************-E*/