
$bet-dialog-border-color1: #569FFD;
$bet-bg-color1: #ffffff;
$bet-win-weight: 600;
$bet-row-1-weight: 500;
$bet-row-2-weight: 700;
$bet-dialog-text-color1: #414655;
$bet-dialog-text-color2: #6D7278;
$bet-dialog-text-color3: #569FFD;
$bet-dialog-bg-color1: #569FFD;