$bg-main-scroll: #f0f6ff;
$bg-main-scroll-h: #dde1eb;
$bg-check-wrap: #fff;
$bg-main-search: #f5f6fa;
$bg-filter-btn-dis: #f0f5fc;
$bg-filter-btn-close: none;
$bg-wrap-point: #d0d8de;
$bg--search-footer: #fafafa;
$bg-left-menu-hover: none;

$background-gradient-2: linear-gradient(90deg, rgba(255,64,64,0.00) 0%, rgba(255,64,64,0.10) 100%);
$background-gradient-color-1-s: #3D72FA;
$background-gradient-color-1-e: #62B3FF;
$background-gradient-color-2-s: #3D72FA;
$background-gradient-color-2-e: #62B3FF;
$background-gradient-14: linear-gradient(180deg,#fff 22%,#f7f8ff);
$background-gradient-1: linear-gradient(180deg,#fff 22%,#f7f8ff 100%);
$background-gradient-4: #F5F6FA;
$background-gradient-5: linear-gradient(180deg, #FFFFFF 21%, #F0F3F7 100%);
$background-gradient-6: linear-gradient(180deg, #62B6FF 0%, #3D72FA 100%);
$background-gradient-7: #ebecf3;
$background-gradient-8: #f0f6ff;
$background-gradient-9: linear-gradient(270.01deg, #5163B7 0.01%, #8997D8 99.38%);
$background-gradient-10: linear-gradient(270deg, #62B6FF 0%, #3D72FA 100%);
$background-gradient-12: linear-gradient(269deg,#fff,#f0f6ff);
$background-gradient-13: linear-gradient(180deg,#fff 21%,#f0f3f7);
$background-gradient-15: linear-gradient(269deg,#fff,#f0f6ff);
$background-gradient-16: linear-gradient(269deg,#fff,#f0f6ff);
$background-gradient-17: linear-gradient(225deg, rgba(61, 114, 250, 0) 0%, rgba(65, 118, 250, 0.3) 100%);
   