$bg-image-url1: url(/2023-08-06-15-57-30/image/common/png/y0_hot_icon_1.png);
$bg-image-url2: url(/2023-08-06-15-57-30/image/common/png/y0_sport_icon.png);
$bg-image-url51: url(/2023-08-06-15-57-30/image/common/png/sport_icon_blue_hover.png);
$bg-image-old-url2: url(/2023-08-06-15-57-30/image/common/png/y0_sport_old_icon.png);
$bg-image-url4: url(/2023-08-06-15-57-30/image/yabo/jpg/sports_bg_01_100.jpg);
$bg-image-url5: url(/2023-08-06-15-57-30/image/yabo/jpg/sports_bg_01_101.jpg);
$bg-image-url6: url(/2023-08-06-15-57-30/image/yabo/jpg/sports_bg_01_102.jpg);
$bg-image-url7: url(/2023-08-06-15-57-30/image/yabo/jpg/sports_bg_01_103.jpg);
$bg-image-url8: url(/2023-08-06-15-57-30/image/yabo/svg/y0_details_info.svg);
$bg-image-url9: url(/2023-08-06-15-57-30/image/yabo/svg/y0_details_info_focus.svg);
$bg-image-url10: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/gif/loading_theme01.gif);
$bg-image-url11: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/lock.svg);
$bg-image-url12: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/video0.svg);
$bg-image-url13: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/video2.svg);
$bg-image-url14: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/animation0.svg);
$bg-image-url15: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/animation2.svg);
$bg-image-url16: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/switch0.svg);
$bg-image-url17: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/switch2.svg);
$bg-image-url18: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/live_studio02.svg);
$bg-image-url19: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/live_studio01.svg);
$bg-image-url20: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/anchor02.svg);
$bg-image-url21: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/anchor01.svg);
$bg-image-url22: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/topic02.svg);
$bg-image-url23: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/topic01.svg);
$bg-image-url24: url(/2023-08-06-15-57-30/image/common/png/team_logo_01.png);
$bg-image-url25: url(/2023-08-06-15-57-30/image/yabo/theme01/team_logo/logo.svg);
$bg-image-url26: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/unfold_close_thme01.svg);
$bg-image-url27: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/y0_unfold_open.svg);
$bg-image-url28: url(/2023-08-06-15-57-30/image/yabo/svg/video_match_results_select_active.svg);
$bg-image-url29: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/png/tabs-line-right.png);
$bg-image-url30: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/png/tabs-line-left.png);
$bg-image-url3: url(/2023-08-06-15-57-30/image/common/png/sport_icon_blue_hover.png);
$bg-image-url31: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/radio.svg);
$bg-image-url32: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/radio-checked.svg);
$bg-image-url33: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/checkbox.svg);
$bg-image-url34: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/checkbox-checked.svg);
$bg-image-url35: url(/2023-08-06-15-57-30/image/yabo/svg/theme01_plus.svg);
$bg-image-url36: url(/2023-08-06-15-57-30/image/yabo/svg/theme01_y0_del.svg);
$bg-image-url37: url(/2023-08-06-15-57-30/image/common/svg/y0_play_video.svg);
$bg-image-url38: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/new_empty.svg);
$bg-image-url39: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/video_left.png);
$bg-image-url40: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/video_right.png);
$bg-image-url41: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/video_line.png);
$bg-image-url42: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/video_middle.png);
$bg-image-old-url43: url(/2023-08-06-15-57-30/image/common/png/sport_icon_old_hover.png);
$bg-image-url43: url(/2023-08-06-15-57-30/image/common/png/sport_icon_hover.png);
$bg-image-url44: url(/2023-08-06-15-57-30/image/common/png/y0_video_history_play.png);
$bg-image-url46: url(/2023-08-06-15-57-30/image/common/png/y0_icon_ball_blue.png);
$bg-image-url47: url(/2023-08-06-15-57-30/image/common/png/y0_icon_ball_blue.png);
$bg-image-url48: url(/2023-08-06-15-57-30/image/common/png/y0_hot_icon_1.png);
$bg-image-url49: url(/2023-08-06-15-57-30/image/common/png/y0_icon_ball_blue_new.png);
$bg-image-url50: url(/2023-08-06-15-57-30/image/common/png/y0_hot_icon_1_new.png);
$bg-image-url3: url(/2023-08-06-15-57-30/image/common/png/sport_icon_hover.png);

$public-bg-image1: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/user_api_limited.png);
    $public-bg-image2: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/no_data_01.png);
    $public-bg-image3: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/no_data_es_01.png);
    $public-bg-image4: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/no_video_01.png);
    $public-bg-image5: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/page404_01.png);
    $public-bg-image6: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/refresh_01.png);
    $public-bg-image7: url(/2023-08-06-15-57-30/image/yabo/theme01/img/png/filter_no_data_01.png);
    
    
$img-bg-position-sort: -24px;
$img-bg-position-sort-up: -36px;
$img-bg-today-menu: url(/2023-08-06-15-57-30/image/yabo/png/today_menu_bg_2.png);
$img-bg-today-menu-active: url(/2023-08-06-15-57-30/image/yabo/png/today_menu_bg_2_2_active.png);
$img-bg-menu-live: url(/2023-08-06-15-57-30/image/yabo/svg/live_texty0.svg);