$chatroom-icon-1: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/chatroom01.svg);
$chatroom-icon-2: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/emoji01.svg);
$chatroom-icon-3: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/emoji02.svg);
$chatroom-icon-4: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/send01.svg);
$chatroom-icon-5: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/send02.svg);
$chatroom-icon-6: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/unmute_info.svg);
$chatroom-icon-7: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/mute_info.svg);
$chatroom-icon-8: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/show_order01.svg);
$chatroom-icon-9: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/show_order02.svg);
$chatroom-icon-10: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/statistics01.svg);
$chatroom-icon-11: url(/2023-08-06-15-57-30/image/yabo/svg/like_order01_y0.svg);
$chatroom-icon-12: url(/2023-08-06-15-57-30/image/yabo/svg/like_order_day.svg);
$chatroom-icon-13: url(/2023-08-06-15-57-30/image/yabo/png/notify_y0.png);
$chatroom-icon-14: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/ask-icon.svg);
$chatroom-bg-image1: url(/2023-08-06-15-57-30/common/png/select_blue.png);

$chatroom-text-color-1: #4276fb;
$chatroom-text-color-2: #fc2222;
$chatroom-bd-color-1: #dce0e5;
$chatroom-bd-color-2: #d9d9d9;
$chatroom-bd-color-3: rgba(66, 118, 251, 0.5);
$chatroom-bd-color-4: #4276fb;
$chatroom-bg-color-1: #fff;
$chatroom-bg-color-2: #fff;
$chatroom-bg-color-3: #fff;
$chatroom-bg-color-4: #d8d8d8;
$chatroom-bg-color-5: #ecf1ff;
$chatroom-gradient-1: linear-gradient(225deg, #f5f6fa 0%, #a8b1ca 100%);
