$color-result-btn-page: #fff;
$color-text-search-team: #2d2d2d;
$color-search-nodata-other: #999;
$color-search-placeholder: #777;
$color-leagues-btn: #6c6c6c;
$color-filter-icon-search: inherit;
$color-card-wrap-title: #878d99;
$color-filter-item: #000;
$color-filter-btn-dis: rgba(45,45,45,0.3);
$color-left-goback: #414655;
$color-search-check-active: #0086f3;