$match-text-color1: #414655;
$match-text-color3: #4276fb;
$match-text-color4: #5a6074;
$match-text-color5: #83838a;
$match-text-color6: #4276fb;
$match-text-color2: #fff;
$match-bg-color9: #99a3b1;
$match-border-color2: #E4EAFF;
$match-border-color1: #f0f6ff;
$match-border-color3: #eaeaea;
$match-border-color4: #d1d5d8;
$match-icon-color1: #a5aec8;
$match-wrap-list-bd-color: #282b37;
$match-wrap-list-text-active: #83838a;
$match-bg-color1: #1F2022;
$match-bg-color2: #314A6B;
$match-bg-color3: #2A3C53;
$match-bg-color4: #fff;
$match-bg-color5: rgba(255, 255, 255, 0.6);
$match-bg-color6: #4276fb;
$match-bg-color7: #ecf4ff;
$match-bg-color8: #f0f6ff;
$match-bg-color10: rgba(20, 23, 29, 0.15);
$match-bg-color11: #f0f6ff;
$match-bg-color12: #e7eaee;
$match-bg-color13: rgba(203, 206, 216, .5);
$match-result-live-icon-bg: url(/2023-08-06-15-57-30/image/yabo/theme01/match-result-live.svg);
$match-result-play_icon: url(/2023-08-06-15-57-30/image/yabo/theme01/match-result-play_icon.svg);