$menu-text-color2: #1C1E23;
$menu-text-color1: #fff;
$menu-text-color3: #4276fb;
$menu-border-color: #ebecf3;
$match-bg-image1: url(/2023-08-06-15-57-30/image/common/png/y0_sport_icon36.png);
    $menu-bg-color2: #314A6B;
    $menu-bg-color3: #2A3C53;
    $menu-bg-color4: #1F2022;
    $menu-bg-color5: #f6f7fa;
    $menu-bg-color6: linear-gradient(225deg,rgba(61,114,250,0),rgba(98,182,255,0.3));
    $menu-bg-color7: linear-gradient(225deg,rgba(61,114,250,0),rgba(98,182,255,0.3));
    $menu-bg-color8: linear-gradient(225deg, rgba(61,114,250,0.00) 0%, rgba(98,182,255,.3) 100%);
    $menu-bg-color9: rgba(86, 159, 253, 0.1);
    $menu-bg-color10: #dedede;
    $menu-bg-color11: linear-gradient(269deg,#fff,#f0f6ff);