
$user-info-show-text-color1: #555555;
$user-info-show-text-color2: rgba(153, 153, 153, 0.6);
$user-info-show-text-color3: #2d2d2d;
$user-info-show-text-color4: #bfbfbf;
$user-info-show-bg-color1: url(/2023-08-06-15-57-30/image/yabo/theme01/balance_refresh.svg);
$user-info-show-bg-color2: url(/2023-08-06-15-57-30/image/yabo/theme01/balance_refresh_hover.svg);

