
$video-tips-wrap-text-color: #cccccc;
$video-history-btn-border-color: #4276FB;
$video-history-video-border-color: #4276FB;
$video-history-btn-background-color: rgba(66, 118, 251, 0.4);
$video-bg-image-url44: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/data.svg);
