$vr-bg-color1: linear-gradient(180deg, #fff 21%, #f0f3f7);
$vr-bg-color2: #fff;
$vr-bg-color3: none;
$vr-bg-color4: linear-gradient(180deg, #fff 21%, #f0f3f7);
$vr-bg-color5: #e7eaee;
$vr-bg-color6: rgba(0, 0, 0, 0.4);
$vr-bg-color7: none;
$vr-bg-color8: #f5f6fa;
$vr-bg-color9: #f6f7fa;
$vr-bg-color10: #fff;
$vr-bg-color11: #e7eaee;
$vr-bg-color12: linear-gradient(180deg, #fff 21%, #f0f3f7);
$vr-bg-image1: url(/2023-08-06-15-57-30/image/common/virtual/y0_live.svg);
$vr-bg-image2: url(/2023-08-06-15-57-30/image/yabo/svg/whistle01.svg);
$vr-bg-image3: url(/2023-08-06-15-57-30/image/yabo/svg/trophy01.svg);
$vr-bg-image4: url(/2023-08-06-15-57-30/image/yabo/svg/elimination_bg01.svg);
$vr-bg-image5: url(/2023-08-06-15-57-30/image/yabo/theme01_y0/img/svg/virtual_right_rank_title.svg);
$vr-virtual_statu-bg-color: #e7eaee;
$vr-border-color1: #ebecf3;
$vr-border-color2: #ebecf3;
$vr-border-color3: #ebecf3;
$vr-text-color3: #ffecb6;
$vr-text-color4: #ffffff;
$vr-text-color1: #414655;
$vr-text-color2: #0086f3;
$vr-text-color5: #6d7278;
$vr-text-color6: #6b737d;
$vr-text-color7: #2d2d2d;
$vr-text-color8: #666666;
$vr-text-color9: #000;
$vr-text-color10: #6d7278;
$vr-yb-text-color1: #414655;
$vr-yb-text-color2: #414655;
$vr-list-replay-text-color: #414655;
$vr-league-rank-header-text-color: #414655;
$vr-league-rank-title-text-color: #414655;
$vr-league-rank-title-text-color-2: #414655;
$vr-match-process: #0086f3;
$vr-yb-bg-color2: #f0f6ff;
$vr-yb-bg-color3: #fff;
$vr-yb-bg-color1: #5a6074;
$vr-handicap-sub-title-bg-color: #f8faff;