$wrap-recents-bg-color: rgba(235,236,243,0.6);
    $wrap-recents-border-color: rgba(235,236,243,0.6);
    $wrap-recents-handicap-bg-color: #f5f6fa;
    $wrap-score-text-color: #888;
    $wrap-icon-color-hover: #5a6074;
    $wrap-recents-text-color: #999;
    $wrap-recents-league-title-text-color: #2d2d2d;
    $wrap-hot-text-color: #414655;
    $wrap-icon-border-hover: #dedfe6;
    $wrap-recents-handicap-border-color: #ebecf3;