$y0-text-color1: #0086f3;
$y0-text-color2: #0086f3;
$y0-text-color4: #17191d;
$y0-text-color5: #414655;
$y0-text-color6: #6c7ba8;
$y0-text-color10: #0086f3;
$y0-text-color12: #4176fa;
$y0-text-color121: #4176fa;
$y0-text-color14: #1d1d1d;
$y0-text-color15: #0086f3;
$y0-text-color0: #2cb2ff;
$y0-text-color28: #4276fb;
$y0-text-color29: #414655;
$y0-text-color30: #fff;
$y0-collect-start-text-color-3: #ff7000;
$y0-collect-start-text-color-upd-4: #ff7000;
$y0-menu-inline-column: block;
$y0-menu-inline-row: inline-block;
$y0-menu-inline-row-5: 5px;
$y0-menu-inline-column-0: 0px;
$y0-btn-hover: #0086f3;
$y0-btn-hover2: #4276fb;
$y0-bg-color20: #f5f6f9;
$y0-bg-color1: #232A34;
$y0-bg-color2: #ffffff;
$y0-bg-color7: #f5f7fa;
$y0-bg-color8: #ffffff;
$y0-bg-color11: #f0f6ff;
$y0-bg-color12: #ffffff;
$y0-bg-color13: #e3e9ee;
