$yb-text-color1: #6c6c6c;
$yb-text-color2: #ffffff;
$yb-text-color3: #83838a;
$yb-text-color4: #555555;
$yb-text-color5: #2d2d2d;
$yb-text-color9: #2d2d2d;
$yb-text-color10: #ffb001;
$yb-text-color11: #fff;
$yb-text-color12: #000;
$yb-text-color13: #414655;
$yb-text-color27: #414655;
$yb-text-color28: #333;
$yb-text-color29: #6c6c6c;
$yb-bg-hover-color24: #4276fb;
$yb-text-color15: #000;
$yb-text-color17: #c31337;
$yb-text-color18: #17191d;
$yb-text-color19: #f7f8fa;
$yb-text-color20: #5163b7;
$yb-text-color21: #414655;
$yb-text-color22: #a5aec8;
$yb-text-color23: #6c7ba8;
$yb-text-color25: #17191d;
$yb-text-color26: #0086f3;
$yb-text-active-color1: #2d2d2d;
$yb-border-color1: #ebecf4;
$yb-border-color2: #ebecf3;
$yb-border-color3: #5a6074;
$yb-border-color6: rgba(209, 213, 216, 0.6);
$yb-border-color7: #d0d8de;
$yb-border-color8: #d1d1d1;
$yb-border-color10: #d0d8de;
$yb-border-color11: #d0d8de;
$yb-border-color12: #bfcedd;
$yb-border-color13: #dce0e5;
$yb-border-color14: #d0d8de;
$yb-border-color15: #bfcedd;
$yb-border-color16: #bfcedd;
$yb-border-color81: #419bf9;
$yb-text-hover-color13: #fff;
$yb-text-color14: #e93d3d;
$yb-text-color24: #fff;
$yb-bg-color13: #000000;
$yb-bg-color17: #4d5564;
$yb-bg-color19: #546bec;
$yb-border-color5: #1e1e1e;
$yb-border-color9: #d0d8de;

$yb-bg-color1: #ffffff;
$yb-bg-color2: #f5f6fa;
$yb-bg-color3: #f6f7fa;
$yb-bg-color4: #ffb001;
$yb-bg-color5: #fff;
$yb-bg-color6: #f0f2f5;
$yb-bg-color7: #f0f5fc;
$yb-bg-color8: rgba(90, 96, 116, 0.3);
$yb-bg-color9: #d5e5fa;
$yb-bg-color10: #e4ebf1;
$yb-bg-color11: rgba(246,247,250,0.9);
$yb-bg-color12: #f6f7fa;
$yb-bg-color14: rgba(29, 33, 39, 0.94);
$yb-bg-color15: rgba(58, 64, 76, 0.96);
$yb-bg-color16: rgba(0, 0, 0, 0.5);
$yb-bg-color18: #e7eaee;
$yb-bg-color21: #f7f8fa;
$yb-bg-color22: #fff;
$yb-bg-color23: rgba(240,246,255,0.4);
$yb-bg-color24: #fff;
$yb-bg-color25: #f6f7fa;
$yb-text-hover-color13: #fff;
$yb-text-color14: #e93d3d;
$yb-text-color24: #fff;
$yb-bg-color13: #000000;
$yb-bg-color17: #4d5564;
$yb-bg-color19: #546bec;
$yb-border-color5: #1E1E1E;
$yb-border-color9: #d0d8de;