.switch-box {
    display: flex;
    justify-content: space-between;

    // border-bottom: .01rem solid var(--q-gb-bd-c-7);
    .switch-item {
        flex: 1;
        display: flex;
        justify-content: center;

        span {
            padding: .06rem 0;
            font-size: .16rem;
            margin: 0 .16rem;
        }
    }

    .switch-item-active {
        span {
            border-bottom: .02rem solid var(--q-gb-t-c-1);
        }
    }
}

.right-icon {
    width: .18rem;
    height: .18rem;
    background-color: var(--q-gb-t-c-1);
    margin-right: .14rem;
}

.select-mask {
    position: fixed;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    z-index: 2000;
    left: 0
}

.slide-box {
    display: flex;
    // justify-content: space-between;
    padding: 0 .14rem;
    // width: 100%;
    overflow-x: scroll;

    .slide-item {
        flex: 0 0 .32rem;
        margin-right: .1rem;
        display: flex;
        justify-content: center;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: .32rem;
            padding: 0 .05rem;
            color: var(--q-gb-t-c-5);
            letter-spacing: -.01rem;
            font-size: .13rem;
            font-weight: 300;
        }
    }

    .slide-item-active {
        span {
            color: var(--q-gb-t-c-1);
            border-bottom: .02rem solid var(--q-gb-t-c-1);
        }
    }
}
