
    $right-match-home-score-color: #ffb001;
    $right-match-away-score-color: #546bec;
    $right-icons-color: #c2c2c2;
    $right-icons-color-hover: #c2c2c2;
    $right-wrap-icon-hover: #666;
    $right-time-text-color: #414655;

    $settings-label-text-opacity: 1;
    $settings-label-text-color: #6C7BA8;
    $settings-item-text-color: #414655;
    $settings-item-arrow-icon: #6c7ba8;
   
    $list-replay-border-color: #ebecf3;
    $list-replay-bg-color: #fff;
    $list-replay-text-color: #000;
    $list-replay-number-text-color: #5a6074;
    $list-replay-number-bg-color: #f8f9fb;

 

    $go-top-btn-icon: #999;
    $go-top-btn-border: #ebecf3;
    $go-top-btn-bg-color-hover: #0086f3;
    $go-top-btn-bg-color-hover22: #0086f3;
    
    $handicap-item-play-name-text-color: #414655;
    $handicap-item-odds-text-color: #414655;
    $handicap-sub-title-bg-color: #f8faff;
    
    $more-handle-text-color: #888;
    $more-handle-border-color: #dedfe6;

    $sr-link-icon: #a5aec8;
    $sr-link-icon-bg-color: #f5f6fa;
    $sr-link-icon-bg-color-hover: #ebecf3;
    $sr-link-icon-bg-img: none;
    $sr-link-icon-bd-color: #e4eaff;

    $icon-back-color: #414655;
    $icon-star-bg-color: #b1b1b7;

    $scrollbar-color: rgba(203,206,216,0.5);
    $scrollbar-color2: rgba(203,206,216,0.5);
   
    $league-rank-border-color: #eff0f6;
    $league-rank-title-text-color: #2d2d2d;
    $league-rank-header-text-color: #666;
    $league-rank-bg-img: linear-gradient(0deg,#fff 21%,#f0f3f7);
    $league-rank-header-bg-color: #f7f8fa;
    
   
    $linear-progress-bd-color: #dbdbdb;
    $linear-progress-bg-color: rgba(0,0,0,0.05);
    $linear-progress-bg-color-2: #4276fb;
    $linear-progress-bg-color-3: #ff7000;

    $carousel-handicap-item-bg-color: #f5f6fa;
    $carousel-handicap-item-border-color: #ebecf3;

    // 以下全是单个
    $sports-guessing-bd-color: #e4eaff;
    $skin-toggle-bd-color: #e4eaff;
    $check-wrap-active-color: #fff;
    $full-screen-handicap-item: rgba(0,0,0,0.4);
    $num-zero-text-color: #2d2d2d;
    $info-img-wrap-bg-color: #f5f6fa;
    $back-arrow-icon: #999;
    $data-title-text-color: #2d2d2d;
    $progress-wrap-score-text-color: #999;
    $hot-handicap-item-play-name-text-color: #414655;
    $stripe-bg-color: #f0f6ff;
    $point-wrap-color: #c1c4c7;
    $detail-right-model-bg-color: #f6f7fa;
    $no-data-icon-bg: url(/2023-08-06-15-57-30/image/yabo/theme01/no-data.svg);
    $width-line: 2px;
    
    
  


   
    
    
    

    
   
    
   

   
  
 
    