.refresh-container {
  width: 100%;
  height: 100%;
  position: relative;

  .pg-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 502;
    background-color: var(--q-color-com-bg-color-35);
  }

  .arr-top {
    &:before {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 0.1rem solid transparent;
      border-right: 0.1rem solid transparent;
      border-bottom: 0.1rem solid var(--q-color-border-color-42);
      position: absolute;
      top: -0.1rem;
      left: 0.12rem;
    }

    &:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 0.095rem solid transparent;
      border-right: 0.095rem solid transparent;
      border-bottom: 0.095rem solid var(--q-gb-bg-c-15);
      position: absolute;
      top: -0.09rem;
      left: 0.115rem;
    }
  }

  .arr-down {
    &:before {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 0.1rem solid transparent;
      border-right: 0.1rem solid transparent;
      border-top: 0.1rem solid var(--q-color-border-color-42);
      position: absolute;
      bottom: -0.1rem;
      left: 0.12rem;
    }

    &:after {
      content: "";
      width: 0px;
      height: 0px;
      border-left: 0.095rem solid transparent;
      border-right: 0.095rem solid transparent;
      border-top: 0.095rem solid var(--q-gb-bg-c-15);
      position: absolute;
      bottom: -0.09rem;
      left: 0.115rem;
    }
  }

  .other-way-info-wrapper {
    position: fixed;
    min-width: 2.82rem;
    max-width: 94vw;
    height: auto;
    background-color: var(--q-gb-bg-c-15);
    border: 0.01rem solid var(--q-color-border-color-42);
    border-radius: 0.04rem;
    padding: 0.15rem 0.18rem;
    color: var(--q-color-fs-color-38);
    z-index: 1000;

    .triangle-icon {
      width: 0.1rem;
      height: 0.06rem;
      background-image: var(--q-color-com-img-bg-14);
      position: absolute;
      top: -0.06rem;
      left: 0.13rem;
    }

    .info-head {
      margin-bottom: 0.1rem;
    }

    .o-title {
      font-size: 0.14rem;
    }

    .close-o-info-icon {
      width: 0.1rem;
      height: 0.1rem;
    }
  }
}

.match-list {
  width: 100%;
  padding-bottom: 0.1rem;

  .football_text {
    color: var(--q-color-com-fs-color-37);
  }

  .football_num {
    margin-left: 0.02rem;
  }
}


.s-table {
  &:last-child {
    border-bottom: 0.005rem solid var(--q-color-border-color-42);
  }

  .wrap-box {
    flex: 1;
    padding: .1rem 0;

    .item-content {
      margin: 0 .08rem;
    }

    .item-icon {
      border-radius: 50%;
      background-color: var(--q-gb-t-c-13);
      margin: 0 .03rem;

      &.item-icon-1 {
        width: .04rem;
        height: .04rem;
      }

      &.item-icon-2 {
        width: .06rem;
        height: .06rem;
      }

      &.item-icon-3 {
        width: .075rem;
        height: .075rem;
      }

      &.item-icon-4 {
        width: .082rem;
        height: .082rem;
      }
    }
  }

  >div {
    border: 0.005rem solid var(--q-color-border-color-42);
    width: 100%;
    display: flex;
    border-bottom: none;

    >div {
      text-align: center;
      border-bottom: none;

      &:first-child {
        width: 47.5%;
        background: var(--q-color-page-bg-color-9);
      }

      &:nth-child(2) {
        width: 52.5%;
        background: var(--q-color-page-bg-color-9);
      }
    }
  }

  .full-width {
    width: 100% !important;
  }
}
.data-get-empty1{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -0.3rem;
}