/*************** 给一个内下边距开始 *************** -S*/
.dynamic-main {
  padding-top: 0.09rem;
  padding-bottom: 0.09rem;
  margin: 0 0.08rem;
}

/*************** 给一个内下边距结束 *************** -E*/
/*************** 排名最后一个子元素开始 *************** -S*/
.dynamic-main :last-child {
  border-bottom: none;
}

/*************** 排名最后一个子元素结束 *************** -E*/
/*************** 赛马名称开始 *************** -S*/
.dynamic-title {
  height: 0.48rem;
  line-height: 0.48rem;
}

/*************** 赛马名称结束 *************** -E*/
.bg-two {
  margin: 0.08rem 0;
}

/*************** 灰色分割线开始 *************** -S*/
.border-gray {
  position: relative;
  border-radius: .08rem;

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border: 1px solid;
    border-radius: 0.16rem;
    overflow: hidden;
  }
}


/*************** 灰色分割线结束 *************** -E*/
/*************** 马类编号开始 *************** -S*/
.virtual-num {
  width: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
  margin-left: 0.22rem;
  text-align: center;
  background: var(--q-color-com-img-bg-20) no-repeat 0 0 / 100%;
  --per: -0.3rem;
}

.virtual-on {
  width: 0.2rem;
  height: 0.2rem;
  line-height: 0.2rem;
  text-align: center;
  background: var(--q-color-com-img-bg-20) no-repeat 0 0 / 100%;
  --per: -0.3rem;
}

.border_right {
  display: flex;
}

.margin_sty {
  margin: 0 0.02rem 0 0.02rem;
}

/*************** 编号结束 *************** -E*/
/*************** 名开始 *************** -S*/
.virtual-name {
  margin-left: 0.1rem;
  font-size: 0.14rem;
  line-height: 0.18rem;
  font-weight: bold;
}

/*************** 名结束 *************** -E*/
/*************** 排名开始 *************** -S*/
.count-style {
  width: 0.5rem;
  text-align: center;
  font-size: 0.16rem;
  letter-spacing: 0;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}

/*************** 排名结束 *************** -E*/
.fat-vir-result {
  margin: 0 0.08rem;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 0.1rem;
}

/*************** 背景颜色 *************** -E*/
.bg-color {
  text-align: center;
}

/*************** 背景颜色 *************** -E*/
.bor-btm {
  height: 0.88rem;
}

/*************** 赛果名称开始 *************** -S*/
.play-name {
  font-size: 12px;
  line-height: 12px;
  margin: 0.1rem 0 0.08rem 0;
}

/*************** 赛果名称结束 *************** -E*/
/*************** 赛果单小 *************** -S*/
.result-style {
  height: 0.88rem;
  text-align: center;
}

/*************** 赛果单小 *************** -E*/
.result-sty {
  font-size: 0.12rem;
  line-height: 0.12rem;
  margin: 0.12rem 0 0.13rem 0;
}

.item-ov {
  font-size: 0.14rem;
  letter-spacing: 0;
  line-height: 0.2rem;
}

.ov-style {
  margin-top: 0.06rem;
  font-size: 0.14rem;
  letter-spacing: 0;
  text-align: center;
}


/*************** 编号背景色开始 *************** -S*/
div[class*="virtual-num"] {
  border-radius: 2px;
}

.virtual-num-1 {
  background-position-y: calc(var(--per) * 6);

  &.csid-1009 {
    background-position-y: calc(var(--per) * 14);
  }
}

.virtual-num-2 {
  background-position-y: calc(var(--per) * 7);

  &.csid-1002 {
    background-position-y: calc(var(--per) * 1);
  }

  &.csid-1009 {
    background-position-y: calc(var(--per) * 15);
  }
}

.virtual-num-3 {
  background-position-y: calc(var(--per) * 8);

  &.csid-1002 {
    background-position-y: calc(var(--per) * 2);
  }

  &.csid-1009 {
    background-position-y: calc(var(--per) * 16);
  }
}

.virtual-num-4 {
  background-position-y: calc(var(--per) * 9);

  &.csid-1002 {
    background-position-y: calc(var(--per) * 3);
  }

  &.csid-1009 {
    background-position-y: calc(var(--per) * 17);
  }
}

.virtual-num-5 {
  background-position-y: calc(var(--per) * 10);

  &.csid-1002 {
    background-position-y: calc(var(--per) * 4);
  }
}

.virtual-num-6 {
  background-position-y: calc(var(--per) * 11);

  &.csid-1002 {
    background-position-y: calc(var(--per) * 5);
  }
}

/*************** 编号背景色结束 *************** -S*/