.match_results {
  display: flex;
  flex-flow: column;
  min-width: 960px;
  height: 100vh;

  .font_match_results {
    font-family: "Material Icons";
    position: absolute;
    top: -200px;
  }

  ::v-deep .material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
  }

  .main_wrap {
    display: flex;
    flex: 1;
    flex-flow: column;
    padding: 0 20px;
    /* ************** 筛选条件 *************** -S */
  }

  .ml-30 {
    margin-left: 10px;
  }

  /* ************** 备注说明 *************** -S */
  .match-resultstips-wrap {
    min-width: 122px;
  }

  .match-resultstips-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;

    & > span {
      display: block;
      width: 18px;
      height: 18px;
      background-image: var(--qq--results-bg-image-url45);

      &:hover {
        background-image: var(--qq--results-bg-image-url45-hover);
      }
    }

    .results-tips {
      position: absolute;
      // width: 100vw;
      text-align: right;
      top: -38px;
      left: -100px;

      div {
        background: #666666;
        border-radius: 6px;
        white-space: nowrap;
        color: #ffffff;
        padding: 4px 6px;
        transition: all 0.3s linear;
      }
    }

    .match-resultstip-box {
      position: relative;
    }

    .results-arrow {
      position: absolute;
      bottom: 16px;
      left: 2px;
      width: 14px;
      height: 14px;
      border: 7px solid transparent;
      z-index: 100;
      transform: rotate(180deg);
      border-bottom: 7px solid #666666;
    }
  }

  /* ************** 备注说明 *************** -E */

  /* ************** 表格穿透样式 *************** -S */
  ::v-deep {
    .wrap-table {
      display: flex;
      flex: 1;
      flex-flow: column;
      height: 100%;

      .table-col:first-child {
        span {
          margin-right: 10px;
        }
      }

      .cursor {
        cursor: pointer;
      }
    }

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      color: #ffffff;
    }
  }

  /* ************** 表格穿透样式 *************** -E */

  ::v-deep .e-select {
    .opitons-wrap {
      z-index: 2;
    }
  }
}

/* ************** 分页 *************** -S */
.table-footer {
  height: 60px;
  border-top: 1px solid #d0d8de;
  overflow: hidden;

  ::v-deep {
    .q-pagination > div {
      color: #17191d;
    }
  }
}

/* ************** 分页 *************** -E */
.tips {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px 20px;
  border-radius: 2px;
  background: #191c24;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.select-item {
  padding: 6px 15px;
  min-height: 30px;
  cursor: pointer;

  &:hover {
    background-color: #e3e9ee;
  }

  &[active] {
    background-color: #e3e9ee;
  }
}