  .home-page {
    background: var(--q-gb-bd-c-17);
    &.white-background {
      background:var(--q-match-page-bg-color-105);
    }
    &.white-font {
      li {
        &.is-active {
          color:var(--q-gb-bd-c-2);
          .tabs-label {
            color:var(--q-gb-bd-c-2);
          }
        }
        .tabs-label {
          color:var(--q-gb-bd-c-2);
        }
      }
    }
    &.live-bg {
      background:var(--q-color-page-bg-color-116);
    }
    .slide {
      box-shadow: var(--q-color-box-shadow-color-1) !important;
    }
    ul {
      li {
        &.is-active {
          .tabs-label {
            color: var(--q-color-fs-color-41);
          }
        }
        .tabs-label {
          color: var(--q-color-fs-color-3);
        }
      }
      .tabs-active-bar {
        background-color: var(--q-color-page-bg-color-50);
      }
    }
    .icon-lang-day {
      ul {
         background-color:var(--q-color-page-bg-color-2);
        color: var(--q-color-fs-color-3);
        &::before {
          border-bottom: 0.08rem solid  var(--q-color-com-border-color-13);
        }
      }
      .curr-lang {
        color:var(--q-color-fs-color-50);
      }
    }
    .icon-lang-dark {
      ul {
        background: var(--q-match-page-bg-color-10);
        color: var(--q-color-fs-color-45);
        &::before {
          border-bottom: 0.08rem solid var(--q-color-com-border-color-3);
        }
      }
      .curr-lang {
        color:var(--q-color-fs-color-50);
      }
    }
  }