.ht-switch-box {
    display: flex;
    justify-content: space-between;
    border-bottom: .01rem solid var(--q-gb-bd-c-7);
    .switch-item {
        flex:1;
        display: flex;
        justify-content: center;
        span {
            padding: .14rem .16rem;
            font-size: .16rem;
        }
    }
    .switch-item-active {
        span {
            border-bottom: .02rem solid var(--q-gb-t-c-1);
        }
    }
}

.ht-slide-box {
    display: flex;
    justify-content: space-between;
    padding: .14rem .15rem;
    width: 100%;
    overflow-x: scroll;
    
    .slide-item-active {
        span {
            background-color: var(--q-gb-t-c-1);
            border-radius: .2rem;
            color: var(--q-gb-t-c-14);
        }
    }
    .slide-item {
        flex:0 0 .74rem;
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            height: .3rem;
        }
    }
}

.ht-content {
    border-top: .08rem solid var(--q-gb-bd-c-6);
    .ht-title {
        margin: .15rem .15rem 0 .3rem;
        padding-bottom: .15rem;
        display: flex;
        align-items: center;
        border-bottom: .01rem solid var(--q-gb-bd-c-7);
        .pattern {
            width: .03rem;
            height: .14rem;
            border-radius: .08rem;
            background-color: var(--q-gb-t-c-1);;
            margin-right: .08rem;
        }
        .title {
            color: var(--q-gb-bg-c-3);
            font-size: .14rem;
            margin-right: .08rem;
            font-weight: 500;
        }
        .hint {
            color: var(--q-gb-bg-c-8);
            font-size: .12rem;
        }
    }

    .ht-both-teams {
        display: flex;
        justify-content: space-around;
        padding-top: .2rem;
        padding-bottom: .56rem;
        .left,.center,.right {
            flex: 1;
        }
        .left {
            display: flex;
            justify-content: flex-end;
            .teams-logo {
                margin-left: .1rem;
            }
        }
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .vs {
                font-size: .12rem;
                color: var(--q-gb-bg-c-8);
            }
            .text {
                text-align: center;
                color: var(--q-gb-t-c-1);;
                font-size: .10rem;
            }
        }
        .right {
            display: flex;
            .teams-logo {
                margin-right: .1rem;
            }
        }
        .teams {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .score {
                margin-top: .04rem;
            }
        }
        .teams-logo {
            width: .4rem;
            height: .4rem;
            background-color: var(--q-gb-t-c-1);;;
            border-radius: .4rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
