/* 公用样式 */
* {
  padding: 0;
  box-sizing: border-box;
}

/* ************** 数字字体样式  dinLight 到 dinBlack 由细到粗************** -S */
@font-face {
  font-family: dinLight;
  // src: url(./font_din/DIN-Light.otf);
}

@font-face {
  font-family: dinRegular;
  // src: url(./font_din/DIN-Regular.otf);
}

@font-face {
  font-family: dinMedium;
  // src: url(./font_din/DIN-Medium.otf);
}

@font-face {
  font-family: dinBold;
  // src: url(./font_din/DIN-Bold.otf);
}

@font-face {
  font-family: dinBlack;
  // src: url(./font_din/DIN-Black.otf);
}
.din-light {
  font-family: dinLight, sans-serif !important;
}
.din-regular {
  font-family: dinRegular, sans-serif !important;
}
.din-medium {
  font-family: dinMedium, sans-serif !important;
}
.din-bold {
  font-family: dinBold, sans-serif !important;
}
.din-black {
  font-family: dinBlack, sans-serif !important;
}

/* ************** 数字字体样式 ************** -E */
.shrink-0 {
  flex-shrink: 0;
}


/* loading */
@mixin keyframes($animate-name) {
  @-webkit-keyframes #{$animate-name} {
    @content;
  }
  @-moz-keyframes #{$animate-name} {
    @content;
  }
  @-o-keyframes #{$animate-name} {
    @content;
  }
  @keyframes #{$animate-name} {
    @content;
  }
}

@include keyframes(loading-ring-animate) {
  0% {
    transform: rotateZ(1deg);
  }
  100% {
    transform: rotateZ(3600deg);
  }
}

.loading-static-animation {
  animation: 15s loading-ring-animate infinite cubic-bezier(0.38, 0.39, 0.71, 0.71);
}
[v-cloak] {
  display: none !important;
}
/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

body {
  color: #414655;
  font-size: 0.12rem !important;
  font-family: dinMedium, PingFangSC, Arial, Helvetica, sans-serif !important;
}
/* 字体大小 */
.yb_fontsize8 {
  font-size: 0.08rem;
}
.yb_fontsize10 {
  font-size: 0.1rem;
}
.yb_fontsize12 {
  font-size: 0.12rem;
}
.yb_fontsize14 {
  font-size: 0.14rem;
}
.yb_fontsize16 {
  font-size: 0.16rem;
}
.padding10{
  padding: 0.1rem;
}
.yb_fontsize18 {
  font-size: 0.18rem;
}
.yb_fontsize20 {
  font-size: 0.2rem;
}
.yb_fontsize22 {
  font-size: 0.22rem;
}
.yb_fontsize24 {
  font-size: 0.24rem;
}
/* 边距 */
.yb_pt2 {
  padding-top: 0.02rem;
}
.yb_pt4 {
  padding-top: 0.04rem;
}
.yb_pt6 {
  padding-top: 0.06rem;
}
.yb_pt8 {
  padding-top: 0.08rem;
}
.yb_pt10 {
  padding-top: 0.1rem;
}
.yb_pt12 {
  padding-top: 0.12rem;
}
.yb_pt14 {
  padding-top: 0.14rem;
}
.yb_pt16 {
  padding-top: 0.16rem;
}
.yb_pt18 {
  padding-top: 0.18rem;
}
.yb_pb2 {
  padding-bottom: 0.02rem;
}
.yb_pb4 {
  padding-bottom: 0.04rem;
}
.yb_pb6 {
  padding-bottom: 0.06rem;
}
.yb_pb8 {
  padding-bottom: 0.08rem;
}
.yb_pb10 {
  padding-bottom: 0.1rem;
}
.yb_pb12 {
  padding-bottom: 0.12rem;
}
.yb_pb14 {
  padding-bottom: 0.14rem;
}
.yb_pb16 {
  padding-bottom: 0.16rem;
}
.yb_pb18 {
  padding-bottom: 0.18rem;
}
.yb_pl2 {
  padding-left: 0.02rem;
}
.yb_pl4 {
  padding-left: 0.04rem;
}
.yb_pl6 {
  padding-left: 0.06rem;
}
.yb_pl8 {
  padding-left: 0.08rem;
}
.yb_pl10 {
  padding-left: 0.1rem;
}
.yb_pl12 {
  padding-left: 0.12rem;
}
.yb_pl14 {
  padding-left: 0.14rem;
}
.yb_pl16 {
  padding-left: 0.16rem;
}
.yb_pl18 {
  padding-left: 0.18rem;
}
.yb_pl20 {
  padding-left: 0.2rem;
}
.yb_pr2 {
  padding-right: 0.02rem;
}
.yb_pr4 {
  padding-right: 0.04rem;
}
.yb_pr6 {
  padding-right: 0.06rem;
}
.yb_pr8 {
  padding-right: 0.08rem;
}
.yb_pr10 {
  padding-right: 0.1rem;
}
.yb_pr12 {
  padding-right: 0.12rem;
}
.yb_pr14 {
  padding-right: 0.14rem;
}
.yb_pr16 {
  padding-right: 0.16rem;
}
.yb_pr18 {
  padding-right: 0.18rem;
}
.yb_py2 {
  padding-top: 0.02rem;
  padding-bottom: 0.02rem;
}
.yb_py4 {
  padding-top: 0.04rem;
  padding-bottom: 0.04rem;
}
.yb_py6 {
  padding-top: 0.06rem;
  padding-bottom: 0.06rem;
}
.yb_py8 {
  padding-top: 0.08rem;
  padding-bottom: 0.08rem;
}
.yb_py10 {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.yb_py12 {
  padding-top: 0.12rem;
  padding-bottom: 0.12rem;
}
.yb_py14 {
  padding-top: 0.14rem;
  padding-bottom: 0.14rem;
}
.yb_py16 {
  padding-top: 0.16rem;
  padding-bottom: 0.16rem;
}
.yb_py18 {
  padding-top: 0.18rem;
  padding-bottom: 0.18rem;
}
.yb_px2 {
  padding-left: 0.02rem;
  padding-right: 0.02rem;
}
.yb_px4 {
  padding-left: 0.04rem;
  padding-right: 0.04rem;
}
.yb_px6 {
  padding-left: 0.06rem;
  padding-right: 0.06rem;
}
.yb_px8 {
  padding-left: 0.08rem;
  padding-right: 0.08rem;
}
.yb_px10 {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}
.yb_px12 {
  padding-left: 0.12rem;
  padding-right: 0.12rem;
}
.yb_px14 {
  padding-left: 0.14rem;
  padding-right: 0.14rem;
}
.yb_px16 {
  padding-left: 0.16rem;
  padding-right: 0.16rem;
}
.yb_px18 {
  padding-left: 0.18rem;
  padding-right: 0.18rem;
}
.yb_mt2 {
  margin-top: 0.02rem;
}
.yb_mt4 {
  margin-top: 0.04rem;
}
.yb_mt6 {
  margin-top: 0.06rem;
}
.yb_mt8 {
  margin-top: 0.08rem;
}
.yb_mt10 {
  margin-top: 0.1rem;
}
.yb_mt12 {
  margin-top: 0.12rem;
}
.yb_mt14 {
  margin-top: 0.14rem;
}
.yb_mt16 {
  margin-top: 0.16rem;
}
.yb_mt18 {
  margin-top: 0.18rem;
}
.yb_mb2 {
  margin-bottom: 0.02rem;
}
.yb_mb4 {
  margin-bottom: 0.04rem;
}
.yb_mb6 {
  margin-bottom: 0.06rem;
}
.yb_mb8 {
  margin-bottom: 0.08rem;
}
.yb_mb10 {
  margin-bottom: 0.1rem;
}
.yb_mb12 {
  margin-bottom: 0.12rem;
}
.yb_mb14 {
  margin-bottom: 0.14rem;
}
.yb_mb16 {
  margin-bottom: 0.16rem;
}
.yb_mb18 {
  margin-bottom: 0.18rem;
}
.yb_ml2 {
  margin-left: 0.02rem;
}
.yb_ml4 {
  margin-left: 0.04rem;
}
.yb_ml6 {
  margin-left: 0.06rem;
}
.yb_ml8 {
  margin-left: 0.08rem;
}
.yb_ml10 {
  margin-left: 0.1rem;
}
.yb_ml12 {
  margin-left: 0.12rem;
}
.yb_ml14 {
  margin-left: 0.14rem;
}
.yb_ml16 {
  margin-left: 0.16rem;
}
.yb_ml18 {
  margin-left: 0.18rem;
}
.yb_mr2 {
  margin-right: 0.02rem;
}
.yb_mr4 {
  margin-right: 0.04rem;
}
.yb_mr6 {
  margin-right: 0.06rem;
}
.yb_mr8 {
  margin-right: 0.08rem;
}
.yb_mr10 {
  margin-right: 0.1rem;
}
.yb_mr12 {
  margin-right: 0.12rem;
}
.yb_mr14 {
  margin-right: 0.14rem;
}
.yb_mr16 {
  margin-right: 0.16rem;
}
.yb_mr18 {
  margin-right: 0.18rem;
}
.yb_my2 {
  margin-top: 0.02rem;
  margin-bottom: 0.02rem;
}
.yb_my4 {
  margin-top: 0.04rem;
  margin-bottom: 0.04rem;
}
.yb_my6 {
  margin-top: 0.06rem;
  margin-bottom: 0.06rem;
}
.yb_my8 {
  margin-top: 0.08rem;
  margin-bottom: 0.08rem;
}
.yb_my10 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.yb_my12 {
  margin-top: 0.12rem;
  margin-bottom: 0.12rem;
}
.yb_my14 {
  margin-top: 0.14rem;
  margin-bottom: 0.14rem;
}
.yb_my16 {
  margin-top: 0.16rem;
  margin-bottom: 0.16rem;
}
.yb_my18 {
  margin-top: 0.18rem;
  margin-bottom: 0.18rem;
}
.yb_mx2 {
  margin-left: 0.02rem;
  margin-right: 0.02rem;
}
.yb_mx4 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
}
.yb_mx6 {
  margin-left: 0.06rem;
  margin-right: 0.06rem;
}
.yb_mx8 {
  margin-left: 0.08rem;
  margin-right: 0.08rem;
}
.yb_mx10 {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}
.yb_mx12 {
  margin-left: 0.12rem;
  margin-right: 0.12rem;
}
.yb_mx14 {
  margin-left: 0.14rem;
  margin-right: 0.14rem;
}
.yb_mx16 {
  margin-left: 0.16rem;
  margin-right: 0.16rem;
}
.yb_mx18 {
  margin-left: 0.18rem;
  margin-right: 0.18rem;
}
.yb_ma4 {
  margin-left: 0.04rem;
  margin-right: 0.04rem;
  margin-top: 0.04rem;
  margin-bottom: 0.04rem;
}
.yb_ma6 {
  margin-left: 0.06rem;
  margin-right: 0.06rem;
  margin-top: 0.06rem;
  margin-bottom: 0.06rem;
}
.yb_ma8 {
  margin-left: 0.08rem;
  margin-right: 0.08rem;
  margin-top: 0.08rem;
  margin-bottom: 0.08rem;
}
.yb_ma10 {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
.yb_ma12 {
  margin-left: 0.12rem;
  margin-right: 0.12rem;
  margin-top: 0.12rem;
  margin-bottom: 0.12rem;
}
.yb_ma14 {
  margin-left: 0.14rem;
  margin-right: 0.14rem;
  margin-top: 0.14rem;
  margin-bottom: 0.14rem;
}
.yb_ma16 {
  margin-left: 0.16rem;
  margin-right: 0.16rem;
  margin-top: 0.16rem;
  margin-bottom: 0.16rem;
}
.yb_ma18 {
  margin-left: 0.18rem;
  margin-right: 0.18rem;
  margin-top: 0.18rem;
  margin-bottom: 0.18rem;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
img,
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
ul {
  list-style: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
br,
form,
input,
button,
textarea,
select,
fieldset,
legend,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
pre,
table,
caption,
tr,
td,
th,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  scrollbar-width: none;
}

body p {
  margin: 0;
}
i {
  font-style: normal;
}
.fz_6 {
  font-size: 6px;
  font-size: 0.06rem;
}
.fz_8 {
  font-size: 8px;
  font-size: 0.08rem;
}
.fz_10 {
  font-size: 10px;
  font-size: 0.1rem;
}
.fz_12 {
  font-size: 12px;
  font-size: 0.12rem;
}
.fz_13 {
  font-size: 13px;
  font-size: 0.13rem;
}
.fz_14 {
  font-size: 14px;
  font-size: 0.14rem;
}
.fz_16 {
  font-size: 16px;
  font-size: 0.16rem;
}
.fz_18 {
  font-size: 18px;
  font-size: 0.18rem;
}
.fz_20 {
  font-size: 20px;
  font-size: 0.2rem;
}
.fw_100 {
  font-weight: 100;
}
.fw_200 {
  font-weight: 200;
}
.fw_300 {
  font-weight: 300;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
.fw_800 {
  font-weight: 800;
}
.fw_900 {
  font-weight: 900;
}
.mt-12 {
  margin-top: 12px;
  margin-top: 0.12rem;
}
.mx-1 {
  margin: 0 1px;
  margin: 0 0.01rem;
}
.mx-2 {
  margin: 0 2px;
  margin: 0 0.02rem;
}
.mx-4 {
  margin: 0 4px;
  margin: 0 0.04rem;
}
.mx-8 {
  margin: 0 8px;
  margin: 0 0.08rem;
}
.mx-10 {
  margin: 0 10px;
  margin: 0 0.1rem;
}
.mx-12 {
  margin: 0 12px;
  margin: 0 0.12rem;
}
.mx-16 {
  margin: 0 16px;
  margin: 0 0.16rem;
}
.mx-15 {
  margin: 0 15px;
  margin: 0 0.15rem;
}
.mx-20 {
  margin: 0 20px;
  margin: 0 0.2rem;
}
.mx-22 {
  margin: 0 22px;
  margin: 0 0.22rem;
}
.mx-24 {
  margin: 0 24px;
  margin: 0 0.24rem;
}
.mx-26 {
  margin: 0 26px;
  margin: 0 0.26rem;
}
.mx-28 {
  margin: 0 28px;
  margin: 0 0.28rem;
}
.mx-30 {
  margin: 0 30px;
  margin: 0 0.3rem;
}
.my-4 {
  margin: 4px 0;
  margin: 0.04rem 0;
}
.my-12 {
  margin: 12px 0;
  margin: 0.12rem 0;
}
.px-12 {
  padding: 0 12px;
  padding: 0 0.12rem;
}
.py-12 {
  padding: 12px 0;
  padding: 0.12rem 0;
}
.mt-4 {
  margin-top: 4px;
  margin-top: 0.04rem;
}
.mt-6 {
  margin-top: 6px;
  margin-top: 0.06rem;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 去掉下划线 */
.text_none {
  text-decoration: none;
}
/* flex */
.flex {
  display: flex;
  vertical-align: center;
}
.justify_content {
  justify-content: center;
}
.align_items {
  align-items: center;
}
.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll {
	/*  全局去除滚动条火狐浏览器兼容性问题 */
  scrollbar-width: none !important;
  /*  兼容IE10+ */
  -ms-overflow-style: none;
}
/*  兼容chrome和safari浏览器  */
.scroll::-webkit-scrollbar {
  display: none;
}
/* 箭头 */
.yb-icon-arrow {
  width: 0.06rem;
  height: 0.06rem;
  transition: transform 0.3s;
  position: relative;
  &:before {
    content: "";
    width: 100%;
    height: 100%;
    border-top: 0.01rem solid #dedede;
    border-right: 0.01rem solid #dedede;
    transform: rotate(45deg);
    position: absolute;
    left: -35.35%;
    top: 0;
  }
}
.yb-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*  足球进球 动图 */
.yb-goal-gif {
  margin-left: 5px;
  width: 12px;
  min-width: 12px;
  height: 12px;
  background-image: var(--q-color-com-img-bg-134);
  background-repeat: no-repeat;
  background-position: 0% 0;
  background-size: auto 100%;
  animation: 1s goal-gif infinite steps(29, end);

  &.yb-goal-yo {
    background-image: var(--q-color-com-img-bg-133);
  }
}

@-webkit-keyframes goal-gif {
  from {
    background-position: 0%, 0;
  }
  to {
    background-position: 100%, 0;
  }
}

@-moz-keyframes goal-gif {
  from {
    background-position: 0%, 0;
  }
  to {
    background-position: 100%, 0;
  }
}

@-ms-keyframes goal-gif {
  from {
    background-position: 0%, 0;
  }
  to {
    background-position: 100%, 0;
  }
}

@-o-keyframes goal-gif {
  from {
    background-position: 0%, 0;
  }
  to {
    background-position: 100%, 0;
  }
}

@keyframes goal-gif {
  from {
    background-position: 0%, 0;
  }
  to {
    background-position: 100%, 0;
  }
}

@-webkit-keyframes text-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes text-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes text-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes text-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes text-flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.skeleton-wrap {
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, 0);
  width: 3.75rem;
  height: 100%;
  z-index: 999;
}
.no-z-index {
  z-index: 0 !important;
}

/*************** 赛狗和赛马的图标多处用到，写到全局 ************** -S */
.match-dog1 {
  background-image: var(--q-color-com-img-bg-39);
}
.match-dog2 {
  background-image: var(--q-color-com-img-bg-40);
}
.match-dog3 {
  background-image: var(--q-color-com-img-bg-41);
}
.match-dog4 {
  background-image: var(--q-color-com-img-bg-42);
}
.match-dog5 {
  background-image: var(--q-color-com-img-bg-43);
}
.match-dog6 {
  background-image: var(--q-color-com-img-bg-44);
}
.match-horse1 {
  background-image: var(--q-color-com-img-bg-45);
}
.match-horse2 {
  background-image: var(--q-color-com-img-bg-46);
}
.match-horse3 {
  background-image: var(--q-color-com-img-bg-47);
}
.match-horse4 {
  background-image: var(--q-color-com-img-bg-48);
}
.match-horse5 {
  background-image: var(--q-color-com-img-bg-49);
}
.match-horse6 {
  background-image: var(--q-color-com-img-bg-50);
}
.motorcycle5 {
  background-image: var(--q-color-com-img-bg-55);
}
.motorcycle6 {
  background-image: var(--q-color-com-img-bg-56);
}
.dirt_motorcycle1 {
  background-image: var(--q-color-com-img-bg-51);
}
.dirt_motorcycle2 {
  background-image: var(--q-color-com-img-bg-52);
}
.dirt_motorcycle3 {
  background-image: var(--q-color-com-img-bg-53);
}
.dirt_motorcycle4 {
  background-image: var(--q-color-com-img-bg-54);
}
/*************** 赛狗和赛马的图标多处用到，写到全局 ************** -E */

/*************** 虚拟体育摩托车的图标多处用到，写到全局 ************** -S */
.motorcycle-5 {
  background-position-y: calc(var(--per) * 13) !important;
}
.motorcycle-6 {
  background-position-y: calc(var(--per) * 12) !important;
}

/*************** 虚拟体育摩托车的图标多处用到，写到全局 ************** -E */

/*************** 多处用到的0.5px下边线， 写到全局************** -E */
.half-border-bottom {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid var(--q-gb-bd-c-3);
    width: 100%;
    transform: scaleY(0.5);
    transform-origin: 0 0;
  }
}
