$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-delete: "\e980";
$icon-arrow: "\e97f";
$icon-neutral-path1: "\e92f";
$icon-neutral-path2: "\e97e";
$icon-sort_settle_time: "\e97b";
$icon-sort_match_time: "\e97c";
$icon-sort_bet_time: "\e97d";
$icon-bet_pre: "\e97a";
$icon-balance_refresh-path1: "\e977";
$icon-balance_refresh-path2: "\e978";
$icon-balance_refresh-path3: "\e979";
$icon-eye_hide2: "\e976";
$icon-menu_show_normal: "\e975";
$icon-play: "\e971";
$icon-timer: "\e968";
$icon-whistle: "\e969";
$icon-match_over: "\e96a";
$icon-match_pause-path1: "\e96b";
$icon-match_pause-path2: "\e96c";
$icon-match_pause-path3: "\e96d";
$icon-match_playing-path1: "\e96e";
$icon-match_playing-path2: "\e96f";
$icon-cup_day: "\e972";
$icon-cup_night: "\e974";
$icon-triangle_solid: "\e967";
$icon-radio-checked: "\e92a";
$icon-checkbox: "\e960";
$icon-checkbox-checked-path1: "\e961";
$icon-checkbox-checked-path2: "\e962";
$icon-radio: "\e963";
$icon-lock: "\e900";
$icon-rs_huang: "\e950";
$icon-on_base3: "\e953";
$icon-on_base0: "\e955";
$icon-on_base1-path1: "\e956";
$icon-on_base1-path2: "\e957";
$icon-on_base1-path3: "\e958";
$icon-on_base2-path1: "\e95b";
$icon-on_base2-path2: "\e95c";
$icon-on_base2-path3: "\e95d";
$icon-tips4: "\e924";
$icon-list1: "\e925";
$icon-list2: "\e94d";
$icon-small: "\e951";
$icon-big: "\e952";
$icon-icon_copy: "\e923";
$icon-star: "\e922";
$icon-live_box: "\e903";
$icon-animation2: "\e905";
$icon-signal: "\e921";
$icon-statistics: "\e920";
$icon-sports_iceball: "\e95e";
$icon-sports_baseball: "\e95f";
$icon-sports_americaball: "\e964";
$icon-sports_volleyball: "\e970";
$icon-sports_badminton: "\e919";
$icon-sports_basketball: "\e91a";
$icon-sports_pingpong: "\e91b";
$icon-sports_snooker: "\e91d";
$icon-sports_soccer: "\e91e";
$icon-sports_tennis: "\e91f";
$icon-arrow-left: "\e917";
$icon-arrow-right: "\e918";
$icon-live_text-path1: "\e915";
$icon-live_text-path2: "\e916";
$icon-rs_hong: "\e94f";
$icon-rs_dian-path1: "\e92e";
$icon-rs_dian-path2: "\e930";
$icon-jin-jia: "\e931";
$icon-jia-dian: "\e932";
$icon-sort-down-path1: "\e933";
$icon-sort-down-path2: "\e934";
$icon-sort-up-path1: "\e945";
$icon-sort-up-path2: "\e947";
$icon-rs_jiao_quan-path1: "\e935";
$icon-rs_jiao_quan-path2: "\e936";
$icon-rs_jiao_quan-path3: "\e938";
$icon-rs_jiao_quan-path4: "\e939";
$icon-rs_jiao_shang-path1: "\e93f";
$icon-rs_jiao_shang-path2: "\e940";
$icon-rs_jiao_shang-path3: "\e944";
$icon-rs_jiao_xia-path1: "\e949";
$icon-rs_jiao_xia-path2: "\e94a";
$icon-rs_jiao_xia-path3: "\e94b";
$icon-rs_jin_quan: "\e94c";
$icon-jin-shang: "\e93e";
$icon-jin-xia: "\e948";
$icon-calendar: "\e909";
$icon-refresh: "\e914";
$icon-sports_gaming: "\e966";
$icon-eye_hide: "\e901";
$icon-eye_show: "\e902";
$icon-go_top: "\e912";
$icon-del: "\e90c";
$icon-close: "\e90d";
$icon-triangle2: "\e959";
$icon-triangle3: "\e973";
$icon-triangle: "\e954";
$icon-triangle1: "\e95a";
$icon-media_switch: "\e92d";
$icon-sort_league: "\e90a";
$icon-tips3: "\e92b";
$icon-tips: "\e906";
$icon-success: "\e94e";
$icon-failure: "\e91c";
$icon-plus: "\e937";
$icon-search: "\e90e";
$icon-sort: "\e926";
$icon-rs_dian_jia: "\e93a";
$icon-rs_jia_shi: "\e93d";
$icon-rs_jin_quan1: "\e941";
$icon-rs_jin_shang: "\e942";
$icon-rs_jin_xia: "\e943";
$icon-rs_hong1: "\e93b";
$icon-rs_huang1: "\e93c";
$icon-triangle4: "\e927";
$icon-circle: "\e928";
$icon-del1: "\e929";
$icon-set_top1: "\e946";
$icon-football: "\e965";
$icon-circle1: "\e92c";
$icon-flame: "\e913";
$icon-open: "\e908";
$icon-hide: "\e911";
$icon-play_pause: "\e90f";
$icon-play_stop: "\e910";
$icon-set_top: "\e907";
$icon-sort_date: "\e90b";
$icon-back: "\e904";

