/*
 * @Author: router
 * @Description: bw3新版投注弹框 白色版样式
 */
[class*=theme0] {
  .bet-mix-show {
    position: relative;
    word-break: break-all;
    color: var(--q-gb-t-c-4);
    .bet-mix-show2 {
      background-color:  var(--q-color-page-bg-color-22);
    }
    .locked-shadow {
      background:  var(--q-gb-bd-c-2);
    }
    .content-t {
      line-height: 0.2rem;
    }
    .pankou-change {
      background-color: var(--q-color-com-bg-color-13);
      color:var(--q-gb-t-c-18);
      border-radius: 2px;
      padding-left: 0.02rem;
      padding-right: 0.02rem;
    }
    .odd-change {
      display: inline-block;
      width: 0.06rem;
      height: 0.08rem;
      background-color: transparent;
    }
    .pre-text{
      color:var(--q-gb-t-c-13);
    }
    .invalid-span,
    .invalid-span2 {
      color:var(--q-gb-t-c-18);
      background: var(--q-gb-bd-c-8);
    }
    .xia {
      color: var(--q-gb-t-c-3);
    }
    /* ************** 投注完成后的颜色展示 ************** -S */
    .color0 {
      margin-right: 0.06rem;
      width: 0.158rem;
      transform: translateY(16%);
    }
    .color1 {
      color:  var(--q-color-com-fs-color-20);
    }
    .color2 {
      color:var(--q-gb-t-c-13);
    }
    .color3 {
      color:var(--q-color-com-fs-color-9);
    }
    /* ************** 投注完成后的颜色展示 ************** -E */

    /* ************** 红升绿降 ************** -S */
    .red {
      color:var(--q-color-com-fs-color-9);
    }
    .green {
      color: var(--q-color-com-fs-color-47);
    }

    /* ************** 红升绿降 ************** -E */
    .line {
      background-color:  var(--q-gb-bd-c-8);
    }
    .subscribe-button{
      background: var(--q-color-page-bg-color-112);
      color:  var(--q-color-fs-color-36);
    }
    .subscribe-wrap{
      .money-span {
        background: var(--q-gb-bd-c-13);
      }
      .money-span2 {
        background: transparent !important;
      }
      .money-span3 {
        background: transparent;
      }
      .subscribe-operation{
        &:nth-last-child(1){
          border-bottom: 1px solid  var(--q-color-border-color-15);
        }
        .label{
          color:var(--q-gb-t-c-13);
        }
        .operation{
          background:var(--q-gb-bd-c-15);
          border: 0.5px solid  var(--q-color-border-color-16);
          .odd{
            color: var(--q-gb-t-c-4);
          }
          .reduce,.add{
            background: var(--q-gb-bg-c-17);
          }
          .reduce{
            border-right: 0.5px solid  var(--q-color-border-color-17);
          }
          .add{
            border-left: 0.5px solid  var(--q-color-border-color-17);
          }
        }
      }
    }
  }
}
