
// 看属性的最后一个单词的首字母 就是样式名称
// f == flex  c == center  e == end  s == start  b == between
// 垂直居中
.f-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

// 两端顶部对齐
.f-b-s{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

// 两端中间对齐
.f-b-c{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 两端底部对齐
.f-b-e{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

// 左侧顶部对齐
.f-s-s{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

// 左侧中部对齐
.f-s-c{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

// 左侧底部对齐
.f-s-e{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

// 右侧顶部对齐
.f-e-s{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

// 右侧中部对齐
.f-e-c{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// 右侧底部对齐
.f-e-e{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

// 换行
// 左侧两端对齐
.fw-s-b{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
}
// 左侧顶部对齐
.fw-s-s{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
// 左侧中部对齐
.fw-s-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
// 左侧中部对齐
.fw-s-e{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-end;
}

// 中间两端对齐
.fw-c-b{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
}
// 中间顶部对齐
.fw-c-s{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
// 中间中部对齐
.fw-c-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
// 中间底部对齐
.fw-c-e{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

// 右侧两端对齐
.fw-e-b{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
}
// 右侧顶部对齐
.fw-e-s{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
}
// 右侧中部对齐
.fw-e-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
// 右侧中部对齐
.fw-e-e{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}

.bor-b{
    border-bottom: 1px solid var(--q-gb-bd-c-6);
}

.w-100{
    width: 100%;
}
.w-80{
    width: 80%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.w-20{
    width: 20%;
}

.h12{
    height: 12px;
}
.h15{
    height: 15px;
}
.h40{
    height: 40px;
}
.h44{
    height: 44px;
}
.h52{
    height: 52px;
}

.font12{
    font-size: 12px;
}
.font13{
    font-size: 13px;
}
.font14{
    font-size: 14px;
}
.font15{
    font-size: 15px;
}
.font16{
    font-size: 16px;
}

.font300{
    font-weight: 300;
}
.font400{
    font-weight: 400;
}
.font500{
    font-weight: 500;
}
.font600{
    font-weight: 600;
}
.font700{
    font-weight: 700;
}

.text-white{
    color: var(--q-gb-t-c-1);
}
.text-ff7{
    color: var(--q-gb-t-c-2);
}
.text-009{
    color: #0094FF;
}
.text-1a1{
    color: var(--q-gb-t-c-5);
}
.text-8a8{
    color: var(--q-gb-t-c-8);
}

.cursor{
    cursor: pointer;
}
.px-12{
    padding-left: 12px;
    padding-right: 12px;
}
.pl-18{
    padding-left: 18px;
}
.pl-30{
    padding-left: 30px;
}
.pr-20{
    padding-right: 20px;
}
.mx-4{
    margin-left: 4px;
    margin-right: 4px;
}
.mx-6{
    margin-left: 6px;
    margin-right: 6px;
}

.my-4{
    margin-top: 4px;
    margin-bottom: 4px;
}

.mt-4{
    margin-top: 4px;
}
.mt-8{
    margin-top: 8px;
}

.mr-4{
    margin-right: 4px;
}
.mr-10{
    margin-right: 10px;
}


.ml-4{
    margin-left: 4px;
}
.ml-16{
    margin-left: 16px;
}

.re{
    position: relative;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
em{
    font-style: normal;
}