.header-top {
  width: 100%;
  min-height: 0.96rem !important;
  line-height: 1.3;
  padding-top: .02rem;
  position: relative;
  top: 10px;
  &.header_DJ {
    margin-top: 0.25rem;
  }
}

.top-style {
  height: 0.44rem;
}

.DJ-score-information {
  position: absolute;
  top: 0.06rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0.6rem;

  .eports_scoring_tip {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.1rem;
    font-family: dinMedium;
    font-size: 0.16rem;
    // color: $details-header-team-name;
  }
  .information-score {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.1rem;

    > span {
      font-family: dinMedium;
      font-size: 0.36rem;
      // color: $details-header-team-name;

      &.line-Bar {
        margin: 0 0.1rem;
      }
    }

    .collect-icon {
      width: 0.32rem;
      height: 0.32rem;
      margin: 0 0.14rem;
      background-size: 100% 100%;
    }
  }

  .round-time {
    font-family: PingFangSCr;
    font-size: 0.12rem;
    color: var(--q-color-com-fs-color-32);
    display: flex;

    .sj-time-day {
      font-family: dinMedium;
      text-align: center;
      margin-bottom: 0.05rem;
      // color: $details-header-team-name;
    }

    .sj-time-soon {
      font-family: dinMedium;
      font-size: 0.26rem;
      // color: $details-header-team-name;
      letter-spacing: 0;
      text-align: center;
      font-weight: 500;
    }

    :deep(.counting-down-wrap) {
      position: relative;
      top: 0.01rem;
      width: 0.52rem !important;
      justify-content: center;

      .counting {
        font-family: dinMedium;
      }
    }
  }
}

.score-style {
  font-size: 0.26rem;
  color: var(--q-gb-t-c-14);
  letter-spacing: 0;
  text-align: center;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.12rem;
}

.team-name {
  font-size: 0.14rem;
  // color: $details-header-team-name;
  height: 0.5rem;
  //padding: 0 0.26rem;
  justify-content: space-between;
  padding-top: 0.13rem;
  color: var(--q-gb-t-c-14);
}

.name-wrap {
  display: flex;
  justify-content: center;
  //min-width: 0.9rem;
  flex-wrap: nowrap;
  text-align: center;
}

.goal-wrap {
  width: 0px;
  position: relative;

  .inner {
    height: 0.24rem;
    position: absolute;
    top: 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 3px;
    }
  }
}

.red-gif {
  width: 0;
  display: none;
  position: relative;
  animation: 1s text-flash linear infinite normal;

  .inner {
    width: 0.11rem;
    height: 0.14rem;
    background: #e02020;
    border-radius: 0.02rem;
    margin: 0 0.03rem;
    margin-top: 0.03rem;
    position: absolute;
    top: 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 3px;
    }
  }

  &.flash {
    display: block;
  }
}

.gif-text {
  white-space: nowrap;
  margin-left: 3px;
  color: var(--q-color-fs-color-50);
  animation: 1s text-flash linear infinite normal;
  font-size: 12px;
}

.logo-double {
  display: flex;
}

/*************** 发球方绿色小点 *************** -S*/
.s-active-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

/*************** 发球方绿色小点 *************** -E*/
/*************** 不显示绿色小点 *************** -S*/
.s-touming {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

/*************** 不显示绿色小点 *************** -S*/
