.match-main {
  max-width:3.78rem;
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: transform 0.2s;
  .animation{
    animation: my-animation 0.3s ease-in
  }
  &.no-padding-bottom {
    padding-bottom: 0;
  }

  &.mini_x {
    padding-top: 0.95rem;
  }

  &.mini_s {
    padding-top: 1.3rem;
  }

  .gap{
    height: .41rem; // 因该为0.4 多设一个像素 0.41
    width: 100%;
    // 缝隙 专门用于解决遮罩和底部的间隙问题
   // background-image: var(--q-color-com-img-bg-2);
    background: var(--q-color-page-bg-color-2);
    &.zaopan{
      background: var(--q-color-page-bg-color-45);
    }

  }

  /* ************** 赛事列表包装器 **************** -S */
  .match-list-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    // padding-top: 0.67rem; // 减去0.4 因为顶部加了div
    padding-bottom: 1.02rem;
    /*border-top: 0.01rem solid transparent;*/

    &.show-status {
      padding-top:.94rem;
    }

    &.zaopan {
      padding-top: 0.35rem;
    }
    &.esport {
      padding-top:0.35rem;
    }

    &.guanjun {
      padding-top: 0.63rem;
    }

    &.jinri {
      padding-top: 0.63rem;
    }

    &.level_four_menu {
      padding-top: 1.38rem;
    }

    &.jingzu {
      padding-top: 0.07rem;
    }

    &.detail_match_list {
      padding-top: 0;
      padding-bottom: 0;
      .refresh-container{
        padding-top: 0;
      }
    }
    .cover-loading {
      width: 0.4rem;
      display: block;
      position: fixed;
      left: 50%;
      z-index: 30;
      justify-content: center;
      align-items: flex-start;
      margin-left: -0.2rem;
      margin-top: 1.68rem;
    }

    .loading-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 502;

      &.dark {
        background-color: transparent;
      }
    }
    .loading-more-container {
      width: 100%;
      height: 1.81rem;
      padding: 0.88rem 0 0.6rem 0;
      text-align: center;
      //bottom: -2rem;
      //position: absolute;
      //left: 0;
      &.home_hot{
        position: unset;
        bottom: unset;
      }
    }
  }


  /* ************** 赛事列表包装器 **************** -E */
  .match-detail-container {
    width:3.78rem;
    height: auto;
    position: fixed;
    z-index: 502;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes my-animation {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    transform: translate3d(50%, 0, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}

// --------------------- 页面 css variables 样式 ---------------------

[class*=theme0] {
  .match-list-container,
  .loading-more-container {
    background: var(--q-gb-bg-c-17);
    .scroll-wrapper {
      background: var(--q-gb-bg-c-17);
      .s-w-item {
        background: var(--q-gb-bg-c-17);
      }
      .match-container {
        // .odd-list.match-indent.simple {
        //   .odd-title {
        //     color: var(--q-match-fs-color-13);
        //   }
        // }
        .hot_time_change {
          color: var(--q-color-fs-color-29);

          > span {
            &:nth-child(2) {
              background-image: var(--q-color-linear-gradient-bg-14);
              border: 1px solid var(--q-color-border-color-43);
              color:var(--q-color-fs-color-128);
            }
          }
        }
        .sport-title {
          .score-inner-span{
            color: var(--q-match-fs-color-153);
          }
          .ball_img {
            background-color:var(--q-color-page-bg-color-2);
            > span {
              color: var(--q-color-fs-color-40);
            }
          }
          &.football_text {
            color: var(--q-match-fs-color-13);
          }
        }
        .match-inner-container {
          background: var(--q-gb-bg-c-17);
          .odd-item-wrap-borer-top {
            background-color: var(--q-color-border-color-11);
          }
          .score-row {
            color:var(--q-gb-t-c-3);
            &.win-way {
              color:var(--q-match-fs-color-135);
            }
          }
          .go-to-d-detail-w {
            color: var(--q-color-fs-color-33);
          }
          .m-o-p-wrapper {
             background:var(--q-gb-bg-c-15);
            .odd-list-wrap {
              .odd-list-container {
                background-color: var(--q-color-page-bg-color-9);
              }
            }
            .tab-m-o-w {
              .tab-item-h {
                background: var(--q-match-page-bg-color-10);
                color: var(--q-match-fs-color-15);

                &.collapsed {
                  color:var(--q-match-fs-color-135);
                  background-image:  var(--q-match-linear-gradient-bg-10);
                  border: 0.5px solid  var(--q-match-fs-color-135);

                }
              }
            }
            .expanded {
              //border-top: 0.01rem solid var(--q-color-border-color-1);
            }
            .team-t-title-w {
              color: var(--q-match-fs-color-1);
            }
            .odd-wrap-min {
              background-color: var(--q-color-page-bg-color-9);
              .odd-column-item {
                &.mred {
                  background-color: var(--q-color-com-bg-color-21);
                  border: 1px solid var(--q-color-com-border-color-14);
                  border-radius: 2px;
                }
                &.mgreen {
                  background-color: var(--q-color-com-bg-color-22);
                  border: 1px solid var(--q-color-com-border-color-15);
                  border-radius: 2px;
                }
                .odd-title {
                  color: var(--q-match-fs-color-154);
                }
                .odd-value {
                  color: var(--q-match-fs-color-1);
                  &.orange {
                    color: var(--q-color-com-fs-color-18);
                  }
                  &.red {
                    color: var(--q-color-com-fs-color-17) !important;

                  }
                  &.green {
                    color: var(--q-color-com-fs-color-10) !important;
                  }
                }
                .icon_lock[class*=theme0] {
                  display: block;
                }
              }
              .odd-column-item2 {
                background: var(--q-match-page-bg-color-10) !important;
                &:after {
                  background-color: transparent;
                }
                .odd-title {
                  color:  var(--q-color-fs-color-10);
                  span {
                    color:  var(--q-color-fs-color-10) !important;
                  }
                }
                .odd-value {
                  color:var(--q-gb-bd-c-2);
                }
              }
            }
          }
        }
        .league {
          background:var(--q-match-page-bg-color-96);
          border-color: var(--q-gb-bd-c-3);

          .league-title-text {
            color: var(--q-color-fs-color-34);
          }
        }
        .odd-title-wraper {
          &:before {
            background-color: var(--q-color-border-color-11);
          }
          .hpl-title {
            color: var(--q-color-fs-color-48);
          }
        }
        .date-container {
           background:var(--q-gb-bg-c-15);
          &.simple {
            .title-space-1 {
              color: var(--q-match-fs-color-137);
            }
            .counting {
              color: var(--q-match-fs-color-13) !important;
            }
            .date-time {
              color: var(--q-match-fs-color-13) !important;
            }
          }
          &.n-s-edition {
            &:before {
              background-color: var(--q-color-border-color-11);
            }
          }
          .counting-down-up-container {
            color: var(--q-gb-t-c-3);
          }
          .counting-down-wrap {
            color: var(--q-gb-t-c-3);
          }
          .l {
            .counting-down-up-container {
               //background:var(--q-color-page-bg-color-2);
              .counting-down-wrap {
                .counting {
                  color: var(--q-gb-t-c-3);
                }
              }
            }
            .timer-wrapper-c {
              .coming-soon {
                color: var(--q-gb-t-c-3);
              }
              .date-time {
                color: var(--q-color-fs-color-30);
              }
              &.esports {
                .date-time {
                  color: var(--q-match-fs-color-1);
                }
              }
            }
            .count_span {
              color: var(--q-match-fs-color-13);
            }
            .week-mcid {
              color:var(--q-match-fs-color-127);
            }
            .live-icon-play-btn {
              background: var(--q-color-img-bg-83) no-repeat center / 90%;
            }
          }
          .mfo-title {
            color: var(--q-color-fs-color-30);
            &.is-ms1 {
              color: var(--q-gb-t-c-3);
            }
          }
          .start-counting-down {
             //background:var(--q-color-page-bg-color-2);
          }
          .counting-down-start {
            color: var(--q-color-fs-color-30);
          }
          .score-section {
            .scroll-cover-f {
               background:var(--q-color-page-bg-color-2);
              .score {
                .jiaoqiu-score-value,
                .orange {
                  color:var(--q-match-fs-color-127);
                }
                .score-l-total2 {
                  color: var(--q-match-fs-color-1) !important;
                }
              }
            }
          }
          .flag-chuan {
            background: var(--q-color-linear-gradient-bg-25);
            color: var(--q-match-fs-color-157);
            border: .01rem solid var(--q-gb-bd-c-37);
          }
        }
        .odd-list {
           background:var(--q-gb-bg-c-15);;
          &.result {
            border-color: var(--q-gb-bd-c-3);
          }
          .team-title-container {
            .team-t-title-w {
              color: var(--q-match-fs-color-1);
              &.name {
                color: var(--q-match-fs-color-1);
                font-size: 0.12rem !important;
              }
              &.is-handicap {
                color: var(--q-color-fs-color-31);
              }
              &.is-handicap-1 {
                color: var(--q-match-fs-color-1);
              }
            }
            .score {
              color: var(--q-match-fs-color-1);
            }
          }
          // .serving-party {
          //   background-color: #569ffd !important;
          // }
          .f-ht-ot {
            color: var(--q-color-fs-color-23);

          }
          .go-container-w {
            .goto-detail {
              .count_span {
                color: var(--q-match-fs-color-13);
              }
            }
            .live-icon-play-btn {
              background: var(--q-color-img-bg-83) no-repeat center/90%;
            }
          }
          .odd-list-wrap {
            .odd-list-container {
              background-color: var(--q-color-page-bg-color-9);
              .odd-column-item {
                &:after {
                  background-color:  var(--q-gb-bd-c-8);
                }
               &.odd-column-item2{
                 &:after{
                  //  background:var(--q-gb-bd-c-13);
                  background-color: transparent;
                 }
               }
                .odd-title {
                  color: var(--q-match-fs-color-13);
                }
                .odd-value {
                  color: var(--q-match-fs-color-1);
                  &.orange {
                    color: var(--q-color-com-fs-color-18);
                  }
                  &.red {
                    color: var(--q-color-com-fs-color-17) !important;
                  }
                  &.green {
                    color: var(--q-color-com-fs-color-10) !important;
                  }
                }
              }
            }
            [class*="slide_icon_"] {
              // background: var(--q-color-img-bg-84) no-repeat  center / cover;
              background: var(--q-color-img-bg-36) no-repeat  center / cover;
              /* ************** 新手版投注项选择样式 ************** -S */
              .odd-column-item2 {
                background:var(--q-gb-bd-c-13) !important;
                &:after {
                  background-color: transparent;
                }
                .odd-title {
                  color:  var(--q-color-fs-color-10) !important;
                  span {
                    color:  var(--q-color-fs-color-10) !important;
                  }
                }
                .odd-value {
                  color:var(--q-gb-bd-c-2);
                }
              }
              /* ************** 新手版投注项选择样式 ************** -E */
            }
          }
          .f-icon[class*=theme0] {
            display: block !important;
          }
          .live-icon-btn[class*=theme0] {
            display: block !important;
          }
          .odd-wrap-min {
            background-color: var(--q-color-page-bg-color-9);
            .odd-column-item {
              &.mred {
                background: var(--q-color-page-bg-color-97);
                border: 1px solid var(--q-color-com-border-color-14);
                border-radius: 2px;
              }
              &.mgreen {
                background: var(--q-color-page-bg-color-98);
                border: 1px solid var(--q-color-com-border-color-15);
                border-radius: 2px;
              }
            }
            .odd-title {
              color: var(--q-match-fs-color-154);
            }
            .odd-value {
              color: var(--q-match-fs-color-1);
              &.orange {
                color: var(--q-color-com-fs-color-18);
              }
              &.red {
                color: var(--q-color-com-fs-color-17) !important;
              }
              &.green {
                color: var(--q-color-com-fs-color-10) !important;
              }
            }
            .icon_lock[class*=theme0] {
              display: block;
            }
            /* ************** 标准版投注项选择样式 ************** -S */
            .odd-column-item2 {
              background: var(--q-match-page-bg-color-10) !important;
              &:after {
                background-color: transparent;
              }
              .odd-title {
                color:  var(--q-color-fs-color-10);
                span {
                  color:  var(--q-color-fs-color-10) !important;
                }
              }
              .odd-value {
                color:var(--q-gb-bd-c-2);
              }
            }
            /* ************** 标准版投注项选择样式 ************** -E */
          }
          .dir-standard {
            .block {
              background:  var(--q-color-page-bg-color-31);
              &.selected {
                background: var(--q-gb-bd-c-13);
              }
            }
          }
          .scroll-cover-f {
            background-color: var(--q-color-page-bg-color-2);
          }
          .m-result-time {
            color: var(--q-gb-t-c-3);
          }
          .score-value {
            &.jiaoqiu-score-value,
            &.orange {
              color:var(--q-match-fs-color-135);
            }
          }
          .triangle-wrapper {
            background: var(--q-color-linear-gradient-bg-24);
            //color:  var(--q-color-fs-color-36);
          }
          &.simple {
            .odd-column-item {
              &.first-radius::after {
                display: none;
              }
            }
          }
        }
        .dir-standard {
          .block {
            background:  var(--q-color-page-bg-color-31);
            &.selected {
              background:  var(--q-gb-bd-c-13);
            }
          }
        }
        .odd-wrap-min {
          background-color: var(--q-color-page-bg-color-9);
        }
        .team-title-container {
          .team-t-title-w {
            color: var(--q-match-fs-color-1);
            &.is-handicap {
              color: var(--q-color-fs-color-31);
            }
            &.is-handicap-1 {
              color: var(--q-match-fs-color-1);
            }
            &.fight-type {
              color:var(--q-match-fs-color-127);
              font-size: 0.12rem;
            }
          }
        }
      }
      .scroll-container-w {
        &:before {
          border-right: 2px solid  var(--q-color-border-color-21);
        }
        &:after {
          border-left: 0.02rem solid  var(--q-color-border-color-21);
        }
      }
      .score-se-inner {
        .score-se-inner2 {
          .basket-ball {
            color: var(--q-match-fs-color-13);
            &.important-color-number {
              color:var(--q-match-fs-color-127);
            }
            .important-color-number {
              color:var(--q-match-fs-color-127);
            }
          }
          .score-fle-container-1 {
            .last-color {
              color:var(--q-match-fs-color-135);
            }
            .basket-ball {
              &:last-child {
                color:var(--q-match-fs-color-127);
              }
            }
            &.result {
              .score {
                &:last-child {
                  color: var(--q-gb-t-c-3) !important;
                }
              }
            }
          }
        }
        .score {
          color: var(--q-gb-t-c-3);
          .jiaoqiu-score-value, .orange {
            color:var(--q-match-fs-color-135);
          }
          .f-ht-ot{
            color:var(--q-color-fs-color-126);
          }
        }
      }
      .score-important {
        color:var(--q-match-fs-color-135) !important;
      }
      .score-important2 {
        color: var(--q-color-com-fs-color-14) !important;
        /* ************** 标准版投注项选择样式 上面嵌套太深，再写一遍************** -S */
      }
    }
    .odd-column-item2 {
      background: var(--q-match-page-bg-color-10) !important;
      &:after {
        background-color: transparent;
      }
      .odd-title {
        color:  var(--q-gb-t-c-17) !important;
        span {
          color:  var(--q-gb-t-c-17) !important;
        }
      }
      .odd-value {
        color:var(--q-color-fs-color-63) !important;
      }
    }
    /* ************** 标准版投注项选择样式 ************** -E */
  }
}

