.champion-wrap {
  //width: 3.61rem;
  //margin: 0 0 0 0.07rem;
  //border-radius: 0.08rem;
  //overflow: hidden;
  width: 100%;
  height: auto;
  position: relative;

  .league-container {
    height: 0.4rem;
    margin: 0 0.07rem;
    margin-top: 0.07rem;
    border-radius: 0.08rem;

    .league-wrapper {
      height: auto;

      .favorite {
        width: 0.16rem;
        height: 0.16rem;
        margin: 0 0.1rem 0.02rem 0.06rem;
        background: var(--q-color-com-img-bg-38);
        background-size: contain;
        background-repeat: no-repeat;

        &.favorited {
          background-image: var(--q-color-com-img-bg-8);
        }

        &.theme02 {
          &.favorited {
            background-image: var(--q-color-com-img-bg-9);
          }
        }

        &.theme01_y0,
        &.theme02_y0 {
          &.favorited {
            background-image: var(--q-color-com-img-bg-10);
          }
        }
      }

      .league-title {
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.13rem;
        font-weight: bold;

        .league-icon-mini {
          width: 0.22rem;
          height: 0.22rem;
          margin: 0.01rem 0.07rem 0 0.09rem;
          position: relative;
          transform: scale(0.85);

          &.league-icon-mini2 {
            --per: -0.32rem;
            background: var(--q-color-com-img-bg-11) no-repeat center / 0.2rem 18.88rem;
            background-position-y: calc(var(--per) * var(--num));
          }

          img {
            width: 0.22rem;
            height: 0.22rem;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }

      .league-title-text {
        font-size: 0.12rem;
        height: 0.22rem;
        transform: translateY(0.01rem);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex-wrap: nowrap;
        padding-top: 0.02rem;
        width: 2.95rem;

        &.without-collect {
          margin-left: .06rem;
          display: contents;
        }
      }
    }

    .collapse-dire {
      margin: 0.05rem 0.11rem 0.07rem 0;

      .icon-down-arrow {
        width: 0.12rem;
        height: 0.06rem;
        display: block;
        transition: transform 0.3s;

        &.collapsed {
          transform: rotateZ(180deg);
        }
      }
    }

    .collapse-dire {
      margin: 0.05rem 0.11rem 0.07rem 0;

      .icon-down-arrow {
        width: 0.12rem;
        height: 0.06rem;
        display: block;
        transition: transform 0.3s;

        &.collapsed {
          transform: rotateZ(180deg);
        }
      }
    }
  }

  .limit-time {
    width: 100%;
    padding-top: 0.05rem;
    height: 0.25rem;
    font-size: 0.1rem;

    &.first-t {
      padding-top: 0;
      height: 0.2rem;
    }

    .limit-t-i {
      width: 3.45rem;
      height: 0.2rem;
      line-height: normal;
      margin: 0 auto;
      border-radius: 0.04rem;
    }
  }

  .hps-wrap {
    margin: 0 0.07rem;
    margin-top: 0.05rem;
    padding-top: 0.05rem;

    .match-title {
      height: 0.34rem;
      padding-left: 0.11rem;
      padding-top: 0.12rem;
      position: relative;

      &:before {
        width: 0.03rem;
        height: 0.16rem;
        transform: translateY(-1px);
        content: ' ';
        display: block;
        border-radius: 0.015rem;
      }

      .hpn-wrap {
        width: 96%;
        margin-left: 0.06rem;
      }
    }

    .ol-list-wrap {
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      margin-top: 0.07rem;
      padding-left: 0.07rem;
      padding-bottom: 0.08rem;
    }

    .ol-list-wrap2 {
      padding-bottom: 0.08rem;
    }
  }
}

.sport-title {
  width: calc(100% - 0.07rem * 2);
  display: flex;
  align-items: center;
  padding-left: 0.1rem;
  height: 0.26rem;
  font-size: 0.11rem;
  background-image: var(--q-color-linear-gradient-bg-19);
  /*transform: translateY(3px);*/
  margin: 0 auto;
  border-radius: 0.06rem;

  &.hidden_sport {
    display: none !important;
  }

  .score-inner-span {
    width: 3.3rem;
    color: var(--q-color-fs-color-153);
  }

  .icon_match_cup,
  .icon_notstarted {
    margin-right: 0.1rem;
    font-size: 0.12rem;

    &:before {
      color: var(--q-color-com-fs-color-35);
    }
  }

  .icon_notstarted {
    &:before {
      color: var(--q-color-com-fs-color-36);
    }
  }

  &.menu-type-3 {
    height: 0.25rem;
    border-top: 1px solid var(--q-color-com-border-color-19);
    background-color: var(--q-color-com-bg-color-12);
    font-weight: bold;
    box-shadow: var(--q-color-box-shadow-color-3);
    position: relative;
    z-index: 2;
    padding-left: 0;

    &.not-playing {
      &:before {
        background: var(--q-color-com-bg-color-38);
      }
    }

    &:before {
      margin-right: 0.1rem;
      display: block;
      content: ' ';
      width: 0.04rem;
      height: 100%;
      background: var(--q-color-com-bg-color-39);
    }
  }

  .collapse-dire {
    margin: 0.05rem 0.11rem 0.07rem 0;

    .icon-down-arrow {
      width: 0.12rem;
      height: 0.06rem;
      display: block;
      transition: transform 0.3s;

      &.collapsed {
        transform: rotateZ(180deg);
      }
    }
  }
}