/*
 * @Description: 虚拟体育赛果
 */
[class*=theme0] {
  /*************** 马类编号开始 *************** -S*/
  .virtual-num {
    color:var(--q-color-com-fs-color-8);
  }
  .virtual-on {
    color:var(--q-color-com-fs-color-8);
  }

  /*************** 编号结束 *************** -E*/
  /*************** 名开始 *************** -S*/
  .virtual-name {
    color: var(--q-color-fs-color-3);
  }

  /*************** 名结束 *************** -E*/
  /*************** 排名开始 *************** -S*/
  .count-style {
    color: var(--q-color-fs-color-3);
    background: var(--q-color-page-bg-color-34);
  }

  /*************** 排名结束 *************** -E*/
  .fat-vir-result {
    background:var(--q-gb-bd-c-15);
  }
  .bor-btm {
    height: 0.88rem;
    border-bottom: 1px solid  var(--q-color-border-color-34);
  }

  /*************** 赛果名称开始 *************** -S*/
  .play-name {
    color: var(--q-color-fs-color-7);
  }

  /*************** 赛果名称结束 *************** -E*/
  /***************左右边框 *************** -S*/
  .distance {
    border-left: 1px solid  var(--q-color-border-color-34);
    border-right: 1px solid  var(--q-color-border-color-34);
  }

  /*************** 左右边框 *************** -E*/
  .distance-right {
    border-right: 1px solid  var(--q-color-border-color-34);
  }
  .result-sty {
    color: var(--q-color-fs-color-7);
  }
  .item-ov {
    color: var(--q-color-fs-color-3);
  }
  .borrig {
    border-right: 1px solid  var(--q-color-border-color-34);
  }
  .ov-style {
    color: var(--q-color-fs-color-3);
  }
}
