/*
 * @Author: success
 * @Date: 2020-08-04 17:13:55
 * @Description: 项目默认公共样式
 */
 
$layout_max_width: 1920px; //内容最大宽度
$layout_min_width: 1440px; //内容最大宽度

body,
html {
  max-width:  inherit;
  min-width: $layout_min_width;
  margin: 0 auto;
}

@font-face {
  font-family: "Number-regular";
  src: url("/font/DINPro-Regular.otf");
}

@font-face {
  font-family: "Number-medium";
  src: url("/font/DINPro-Medium.otf");
}
.din-regular {
  font-family: "Number-regular";
}
.din-medium {
  font-family: "Number-medium";
}

/*  公用样式 */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
br,
div,
form,
input,
button,
textarea,
select,
fieldset,
legend,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
pre,
table,
caption,
tr,
td,
th,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    /*  知乎 */
    /*  font-family 'Noto Sans SC', sans-serif */
    font-style: normal;
    font-family: "Roboto", "Microsoft YaHei", "PingFang SC", "-apple-system", "BlinkMacSystemFont", "Helvetica Neue",
      "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "sans-serif";
    /*  font-family 'SF Pro SC', 'SF Pro Display', 'SF Pro Icons', 'PingFang SC', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Microsoft Yahei', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif */
    /*  font-family 'Microsoft Yahei', 'Arial', 'Heiti SC', 'Helvetica', 'Helvetica Neue' */
    /*  font-family 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif */
    font-size: 12px;
    overflow: hidden;
  }

  a {
    text-decoration: none;
  }
  .q-menu {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }
  .q-menu--square {
    z-index: 2002;
  }
  .q-scrollarea__bar--h,
  .q-scrollarea__thumb--h {
    z-index: 50;
  }
  .yb-padding-t5 {
    padding-top: 5px;
  }
  .yb-hide {
    display: none !important;
  }
  .yb-font-bold {
    // font-weight: $yb-font-bold; //todo
  }
  .yb-number-font {
    font-weight: normal;
  }
  .yb-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .yb-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .yb-hover-bg {
    &:hover {
      opacity: 0.9;
    }
  }
  /*  主内容区宽度 */
  .yb-content-wrap-max-width {
    width: 960px;
  }

  /*  左侧区域宽度 */
  .yb-site-left-width,
  .yb-fontsize12 {
    font-size: 12px;
  }
  .yb-fontsize13 {
    font-size: 13px;
  }
  .yb-fontsize14 {
    font-size: 14px;
  }

  /*  字体颜色 */
  .yb-text-color1 {
    color: var(--qq--yb-text-color1);
  }
  .yb-color1 {
    color: #3f3f3f;
  }
  .yb-color2 {
    color: #d1d1d1;
  }
  .yb-color3 {
    color: #999;
  }

  /*  背景色 */
  .yb-bgcolor1 {
    background-color: #fff;
  }
  .yb-bgcolor2 {
    background-color: #f6f7f8;
  }
  .yb-bgcolor3 {
    background-color: #f7f8fc;
  }
  .yb-ml10 {
    margin-left: 10px;
  }
  .yb-ml20 {
    margin-left: 20px;
  }
  .scrollarea-padding-right {
    padding-right: 14px;
  }
  .yb-hover-icon-999:before {
    color: #5a6074;
  }
  .yb-hover-icon-999:hover:before {
    color: #d1d1d1;
  }
  .yb-family-odds {
    font-family: "Roboto", sans-serif;
    font-style: normal;
  }
  .yb-flex-nowrap {
    flex-wrap: nowrap;
  }
}

/*  清除IE input默认样式 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}