/*
 * @Author: success
 * @Date: 2020-08-04 17:13:55
 * @Description: 全局CSS变量定义
 */


 $yb-layout-min-width: 1280px;
 $yb-layout-medium-width: 1440px;
 $yb-layout-max-width: 1920px;
 $yb-cover-width: 1408px;
 $yb-bet-side-background: #363940;
 $yb-font-bold: normal;
 
 /*  专业版文字高亮色（黄） */
 // $yb-text-color1: #ffb001;
 $yb-table-head-height: 28px;
 $yb-table-bet-height: 35px;
 