/*
 * @Author: router
 * @Description: bw3新版混合投注成功底部横条 白色版样式
 */
[class*=theme0] {
  .bet-success-bar {
    background:  var(--q-color-page-bg-color-71);
    border-top: 1px solid  var(--q-color-border-color-15);
    .p-left {
      color: var(--q-gb-t-c-4);
    }
    .money-d {
      color: var(--q-gb-t-c-3);
    }
    .color1 {
      color:  var(--q-color-com-fs-color-20);
    }
    .color2 {
      color:var(--q-gb-t-c-13);
    }
    .color3 {
      color:var(--q-color-com-fs-color-9);
    }
    .color4 {
      color:var(--q-color-com-fs-color-9);
    }
    .color5 {
      color: var(--q-gb-t-c-4);
    }
  }
}
