.c-main-scroll {
  overflow-x: auto;

  ::v-deep .q-page-sticky > div {
    width: 100%;
  }

  ::v-deep .page-right {
    z-index: 52;
  }
}

.main {
  height: 100%;

  .c-site-header {
    width: 100%;
  }

  .zero-opacity {
    opacity: 0;
  }

  .c-main-content {
    background-position: center;
    background-size: cover;
    display: flex;

    ::v-deep .page-right {
      z-index: 52;

      .football-after,
      .more-info {
        width: 90% !important;
      }
    }
  }
}

.iframe-top-collapse {
  ::v-deep {
    .c-site-header.is-iframe {
      height: 36px;
    }

    .serach-wrap.iframe {
      top: 0 !important;
    }
  }
}

.football-after,
.basketball-after,
.more-info {
  width: 90% !important;
}

.bet-mode-zone {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  align-items: center;

  .left {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  .bet-single-count {
    font-size: 16px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    text-align: center;
    transform: scale(0.8);
  }

  .right {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

    .check-box {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      padding-left: 5px;
      padding-right: 5px;

      .check-wrap {
        padding: 0;
        margin-right: 5px;
      }

      &.checked {
        .check-wrap {
          border: 0;
        }
      }
    }
  }
}

.tip-content {
  width: calc(100% - 20px);
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 2003;
  top: -50px;
  left: 10px;

  &.top-content {
    top: 5px;
  }

  .content-wrap {
    position: absolute;
    top: 6px;
    width: 100%;
    background: #fff;
    border: 2px solid #ff781d;
    border-radius: 5px;

    .content {
      padding: 10px;
      font-size: 12px;

      .row-1,
      .row-2,
      .row-3 {
        color: #2d2d2d;
        text-align: center;
      }

      .row-1 {
        margin-bottom: 10px;
        font-size: 14px;
        color: #ff781d;
        font-weight: bold;
      }
    }

    .triangle,
    .triangle1 {
      position: absolute;
      background: #fff;
      border: 2px solid #ff781d;
      border-top: 0;
      border-left: 0;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      top: 81px;
      right: 22px;
    }

    .triangle1 {
      top: 116px;
    }

    .icon-del {
      position: absolute;
      top: 16px;
      right: 10px;
      cursor: pointer;
    }
  }
}

.bet-bg-tooltip {
  background: #a3afbf;
  color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
