:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


:root{
  --qq--yb-text-hover-color13: #fff;
    --qq--y0-text-color7: #F2F2F2;
    --qq--y0-text-color9: #17191d;
    --qq--y0-text-color11: #fca469;
    --qq--yb-text-color14: #e93d3d;
    --qq--yb-text-color24: #fff;
    --qq--yb-bg-color13: #000000;
    --qq--yb-bg-color17: #4d5564;
    --qq--yb-bg-color19: #546bec;
    --qq--y0-bg-color10: #3c3f4c;
    --qq--y0-bg-prepend: #2CB2FF;
    --qq--yb-border-color5: #1E1E1E;
    --qq--yb-border-color9: #d0d8de;
    --qq--menu-text-color1: #fff;
    --qq--match-text-color2: #fff;
    --qq--match-bg-color9: #99a3b1;
    --qq--background-gradient-2: linear-gradient(270deg, rgba(233, 61, 61, 0.20) 0%, rgba(233, 61, 61, 0.05) 100%);
    --qq--bg-image-url3: url(public/yazhou-pc/image/common/png/sport_icon_hover.png);
    --qq--match-wrap-list-bd-color: #282b37;
    --qq--vr-text-color3: #74C4FF;
    --qq--vr-text-color4: #ffffff;
    --qq--right-match-away-score-color: #546bec;
    --qq--full-screen-handicap-item: rgba(255, 255, 255, 0.08);
    --qq--activity-bg-color: #fff;
    --qq--activity-bg-color-4: #e7eaee;
    --qq--activity-bg-color-5: #fcfcfc;
    --qq--activity-bg-color-6: #ff0602;
    --qq--activity-bg-color-8: #6b2200;
    --qq--activity-bg-color-9: lightyellow;
    --qq--activity-bg-color-10: #d8d8d8;
    --qq--activity-bg-color-11: rgba(0, 0, 0, 0.9);
    --qq--activity-bg-color-12: rgba(255, 255, 255, 0.8);
    --qq--activity-bg-color-13: #fff;
    --qq--activity-bg-color-14: #a9a9a9;
    --qq--activity-bg-color-15: #ff4040;
    --qq--activity-text-color: #5e637e;
    --qq--activity-text-color-2: #333333;
    --qq--activity-text-color-3: #666;
    --qq--activity-text-color-5: #999;
    --qq--activity-text-color-6: #e7eaee;
    --qq--activity-text-color-7: #ff0602;
    --qq--activity-text-color-8: #fee4b5;
    --qq--activity-text-color-9: #fffcf4;
    --qq--activity-text-color-10: #3a3a3a;
    --qq--activity-text-color-11: #565656;
    --qq--activity-text-color-12: #000;
    --qq--activity-text-color-13: #de6f04;
    --qq--activity-text-color-14: #171616;
    --qq--activity-text-color-15: #ff8b00;
    --qq--activity-text-color-blue: #007dff;
    --qq--activity-text-color-gray: #5e637e;
    --qq--activity-text-color-red: #e93333;
    --qq--activity-text-color-active: #fff;
    --qq--activity-bd-color: #fff;
    --qq--activity-bd-color-5: #e4e4e4;
    --qq--activity-bd-color-6: #d2d2d2;
    --qq--activity-bd-color-7: #999;
    --qq--activity-bd-color-9: #d9d9d9;
    --qq--activity-bd-img-gradient: linear-gradient(180deg, #ffffff 0%, #f3f3f3 77%, #fafdff 100%);
    --qq--activity-bd-img-gradient-4: radial-gradient(at 50% 40%, #fff 2px, #a9a9a9 80%);
    --qq--activity-bd-img-gradient-5: radial-gradient(at 50% 40%, #fff 2px, #ff4040 80%);
    --qq--activity-bd-img-gradient-6: radial-gradient(at 50% 40%, #fff 2px, deepskyblue 80%);
    --qq--activity-bd-img-gradient-7: radial-gradient(at 50% 40%, #fff 2px, yellow 80%);
    --qq--activity-bd-img-gradient-8: linear-gradient(-88deg, #ffffff 0%, #f7f8f9 50%, #ffffff 100%);
    --qq--activity-bd-img-gradient-9: linear-gradient(268deg, #b05500 0%, #f8c90d 31%, #fff8de 50%, #f8c600 80%, #aa4b00 100%);
    --qq--activity-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
    --qq--activity-box-shadow-2: 0 2px 40px 0 rgba(0, 0, 0, 0.1);
    --qq--activity-box-shadow-3: lightyellow;
    --qq--activity-box-shadow-4: rgba(0, 0, 0, 0.3);
    --qq--activity-box-shadow-5: inset 0px 1px 8px 0px rgba(189, 72, 72, 0.5), 0px 2px 4px 0px rgba(0, 0, 0, 0.27), 0px 2px 7px 0px rgba(0, 0, 0, 0.26), 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
    --qq--activity-text-shadow: 0 2px 4px #e50000, 0 -2px 3px #f0ff04;
    --qq--activity-text-shadow-2: 0 2px 4px rgba(0, 0, 0, 0.5);
    --qq--activity-drop-shadow: #ff4040;
    --qq--activity-drop-shadow-2: deepskyblue;
    --qq--activity-drop-shadow-3: yellow;
    --qq--analysis-bg-color-1: #fff;
    --qq--analysis-bg-color-2: #d0d8de;
    --qq--analysis-bg-color-3: #e7eaee;
    --qq--analysis-bg-color-5: #f8f9fa;
    --qq--analysis-bg-color-6: #afb3bb;
    --qq--analysis-bg-color-7: #e03c00;
    --qq--analysis-bg-color-8: #ef7700;
    --qq--analysis-bg-color-9: #ff9323;
    --qq--analysis-bg-color-12: #179CFF;
    --qq--analysis-bg-color-13: #546bec;
    --qq--analysis-bg-color-14: #f7f8f9;
    --qq--analysis-bg-color-16: #e4ebf1;
    --qq--analysis-text-color-1: #2d2d2d;
    --qq--analysis-text-color-2: #666;
    --qq--analysis-text-color-3: #5b6175;
    --qq--analysis-text-color-4: #000;
    --qq--analysis-text-color-5: #5a6074;
    --qq--analysis-text-color-6: #ff7373;
    --qq--analysis-text-color-7: #71c866;
    --qq--analysis-text-color-8: #5ab6f7;
    --qq--analysis-text-color-9: #afb3bb;
    --qq--analysis-text-color-10: #333;
    --qq--analysis-text-color-11: #B6B9C6;
    --qq--analysis-text-color-12: #83838a;
    --qq--analysis-text-color-13: #fff;
    --qq--analysis-text-color-14: #999;
    --qq--analysis-bd-color-1: #e7eaee;
    --qq--analysis-bd-color-2: #d0d8de;
    --qq--analysis-bd-color-3: #fff;
    --qq--analysis-bd-color-4: #dce0e5;
    --qq--analysis-bg-gradient-1: linear-gradient(180deg, #fff 21%, #f0f3f7 100%);
    --qq--analysis-bg-gradient-4: linear-gradient(180deg, #FFFFFF 21%, #F0F3F7 100%), linear-gradient(180deg, #FFFFFF 21%, #F0F3F7 100%);
    --qq--vr-yb-bg-color1: #5a6074;
    --qq--chat-text-orange-1: #FF7100;
    --qq--chat-text-blue-1: #556BEC;
    --qq--chat-text-blue-13: #179CFF;
    --qq--chat-bg-orange-1: #FF7100;
    --qq--chat-bg-blue-1: #556BEC;
    --qq--chat-bg-blue-13: #179CFF;
    --qq--chat-more-msg-arrow: url(public/yazhou-pc/image/svg/more-msg.svg);
    --qq--theme-text-color-common: #414655;
    --qq--theme-text-color-handicap: #414655;
    --qq--theme-text-color-handicap-hover: #ffffff;
    --qq--theme-text-is-clear-unclick: #555555;
    --qq--theme-text-show-order-title: #666666;
    --qq--theme-text-show-order-away: #2D2D2D;
    --qq--theme-text-bet-outweight: #555555;
    --qq--theme-text-esports-color: #000;
    --qq--theme-text-color-highlight: #179CFF;
    --qq--color-left-menu-hover: #179CFF;
    --qq--theme-menu-olor: #414655;
    --qq--theme-small-menu-active: #179CFF;
    --qq--theme-menu-text: #1d1d1d;
    --qq--theme-menu-text-2: #f2f2f2;
    --qq--theme-menu-text-active: #179CFF;
    --qq--theme-color-card-btn-active: #179CFF;
    --qq--theme-color-select-btn: #2cb2ff;
    --qq--theme-color-btn-group: #555555;
    --qq--theme-color-text-close: #000;
    --qq--theme-color-text-close-hover: #414655;
    --qq--color-result-btn-page: #ffffff;
    --qq--theme-color-refresh-icon: #BFBFBF;
    --qq--theme-color-icon-eye: #CDCDCD;
    --qq--theme-color-bet-info: #a5aec8;
    --qq--old-new-active: #179cff;
    --qq--theme-color-text-activeOrSearch: #555555;
    --qq--color-text-search-team: #2d2d2d;
    --qq--theme-color-search-pnl: #555555;
    --qq--theme-color-search-pnl1: #1D1D1D;
    --qq--theme-color-search-pnl-hover: #179CFF;
    --qq--theme-color-search-pnl-active: #179CFF;
    --qq--theme-color-search-nodata: #666;
    --qq--color-search-nodata-other: #999;
    --qq--theme-color-search-clear-icon: #ccc;
    --qq--theme-color-search-clear-icon-hover: #999;
    --qq--theme-color-search-wrap: #BACCFC;
    --qq--color-search-placeholder: #777;
    --qq--color-leagues-btn: #6c6c6c;
    --qq--color-filter-icon-search: inherit;
    --qq--color-card-wrap-title: #878d99;
    --qq--color-filter-item: #000;
    --qq--color-results-size: #6c6c6c;
    --qq--color-filter-btn-dis: rgba(45,45,45,0.3);
    --qq--color-left-goback: #414655;
    --qq--color-search-check-active: #179CFF;
    --qq--vr-text-color10: #6d7278;
    --qq--theme-color-bet-zone: #555555;
    --qq--theme-color-bet-after: #555555;
    --qq--theme-color-bet-odds: #1D1D1D;
    --qq--theme-color-bet-zone-right: #99A3B1;
    --qq--theme-bet-text-delete-color: #FFFFFF;
    --qq--theme-color-bet-keyboard: #555;
    --qq--theme-color-bet-keyboard_1: #179CFF;
    --qq--theme-color-bet-keyboard_2: #CBCED8;
    --qq--theme-color-bet-keyboard_3: #179CFF;
    --qq--theme-bet-delete-all: #555555;
    --qq--theme-bet-moeny-win: #555555;
    --qq--theme-bet-delete-all-border: #D7DEE3;
    --qq--theme-bet-delete-all-button: transparent;
    --qq--theme-color-bet-gray-btn: rgba(45, 45, 45, 0.3);
    --qq--theme-color-bet-input-placeholder: #CBCED8;
    --qq--theme-color-bet-handicap-name: #179CFF;
    --qq--theme-bet-confirm-message: #FFF3D9;
    --qq--theme-bet-success-order: #E8F6E6;
    --qq--theme-bet-fail-order: #FDE5E5;
    --qq--theme-color-tab-item: #555555;
    --qq--theme-color-tab-item-hover: #555555;
    --qq--theme-color-tab-item-active: #ffffff;
    --qq--theme-color-handicap-item-title: #179CFF;
    --qq--theme-color-handicap-item-bet-hover: #666;
    --qq--theme-color-handicap-item-bet-active: #ffffff;
    --qq--theme-color-text-active: #ffffff;
    --qq--theme-color-pre-btn: #179CFF;
    --qq--theme-color-pre-btn-row-2: #179CFF;
    --qq--bet-pre-confirming-text-color: #F2F2F2;
    --qq--theme-color-pre-stop-btn: #7A7D88;
    --qq--theme-color-pre-btn2: #555;
    --qq--theme-color-record-title: #555555;
    --qq--theme-color-load-all: #555;
    --qq--theme-color-tab-wrap: #414655;
    --qq--theme-color-tool-btn: #ffffff;
    --qq--theme-color-records-search-btn: #ffffff;
    --qq--theme-color-wrap-time: #17191d;
    --qq--theme-color-wrap-time-hover: #17191d;
    --qq--theme-color-pre-over: #4176fa;
    --qq--theme-color-lose-color: #1d1d1d;
    --qq--theme-color-head-ceil: #555555;
    --qq--theme-color-ceil: #1d1d1d;
    --qq--theme-color-ceil_1: #1d1d1d;
    --qq--theme-color-play-type: #99a3b1;
    --qq--theme-color-play-typeb: #1d1d1d;
    --qq--theme-color-play-typez: #555555;
    --qq--bk-list-background: #f0f6ff;
    --qq--theme-color-tab-wrap-active: #000;
    --qq--theme-color-df-jb: #555555;
    --qq--theme-color-bet-desc: #898A8B;
    --qq--theme-color-appoint-status: #1D1D1D;
    --qq--theme-color-market_value: #5a6074;
    --qq--theme-color-pagination-wrap: #000;
    --qq--theme-color-rule-area: #35363b;
    --qq--list-replay-text-color: #000;
    --qq--list-replay-number-text-color: #5a6074;
    --qq--league-rank-title-text-color: #1D1D1D;
    --qq--league-rank-header-text-color: #666;
    --qq--vs-team-wrap-text-color: #555;
    --qq--wrap-score-text-color: #888;
    --qq--num-zero-text-color: #D1D1D1;
    --qq--handicap-item-play-name-text-color: #414655;
    --qq--hot-handicap-item-play-name-text-color: #414655;
    --qq--handicap-item-odds-text-color: #414655;
    --qq--wrap-icon-color-hover: #5a6074;
    --qq--more-handle-text-color: #888;
    --qq--wrap-recents-text-color: #999;
    --qq--wrap-recents-league-title-text-color: #2d2d2d;
    --qq--right-icons-color: #c2c2c2;
    --qq--right-icons-color-hover: #c2c2c2;
    --qq--sr-link-icon: #a5aec8;
    --qq--wrap-hot-text-color: #414655;
    --qq--back-arrow-icon: #999;
    --qq--right-wrap-icon-hover: #666;
    --qq--data-title-text-color: #2d2d2d;
    --qq--progress-wrap-score-text-color: #999;
    --qq--match-wrap-list-text-active: #83838a;
    --qq--video-tips-wrap-text-color: #cccccc;
    --qq--video-history-btn-border-color: #179CFF;
    --qq--video-history-video-border-color: #179CFF;
    --qq--video-history-btn-background-color: rgba(66, 118, 251, 0.4);
    --qq--icon-back-color: #414655;
    --qq--vr-text-color1: #414655;
    --qq--vr-text-color2: #179CFF;
    --qq--vr-text-color5: #6d7278;
    --qq--vr-text-color6: #6b737d;
    --qq--vr-text-color7: #2d2d2d;
    --qq--vr-text-color8: #666666;
    --qq--vr-text-color9: #000;
    --qq--go-top-btn-icon: #999;
    --qq--settings-label-text-color: #6C6C6C;
    --qq--settings-label-text-colo2: #666666;
    --qq--settings-item-text-color: #179CFF;
    --qq--settings-item-arrow-icon: #6c7ba8;
    --qq--right-time-text-color: #414655;
    --qq--activity-text-color-4: #179CFF;
    --qq--activity-text-color-16: #ffffff;
    --qq--analysis-text-color-15: #e7eaee;
    --qq--analysis-both-time-color-1: #6C6C6C;
    --qq--analysis-tab-data-text-color-1: #1D1D1D;
    --qq--analysis-match-time-color-1: #1D1D1D;
    --qq--vr-yb-text-color1: #414655;
    --qq--vr-yb-text-color2: #414655;
    --qq--vr-list-replay-text-color: #414655;
    --qq--vr-league-rank-header-text-color: #414655;
    --qq--vr-league-rank-title-text-color: #414655;
    --qq--vr-league-rank-title-text-color-2: #414655;
    --qq--vr-match-process: #0086f3;
    --qq--bet-dialog-text-color1: #555555;
    --qq--bet-dialog-text-color2: #555555;
    --qq--bet-dialog-text-color3: #569FFD;
    --qq--user-info-show-text-color1: #555555;
    --qq--user-info-show-text-color2: rgba(153, 153, 153, 0.6);
    --qq--user-info-show-text-color3: #2d2d2d;
    --qq--user-info-show-text-color4: #bfbfbf;
    --qq--scrollbar-color: rgba(203,206,216,0.5);
    --qq--scrollbar-color2: rgba(203,206,216,0.5);
    --qq--yb-text-color1: #6c6c6c;
    --qq--yb-text-color2: #ffffff;
    --qq--yb-text-color3_1: #6c6c6c;
    --qq--yb-text-color3: #555555;
    --qq--yb-text-color4: #555555;
    --qq--yb-text-color4-title: #1d1d1d;
    --qq--bet-text-color4: #179CFF;
    --qq--bet-info-wrap-color4: #555555;
    --qq--yb-text-color4_1: #BCBCBE;
    --qq--yb-text-color4_2: #D7DEE3;
    --qq--yb-text-color4_6: #555555;
    --qq--yb-text-color4_2_1: #ffffff;
    --qq--yb-text-color4_2_2: #ffffff;
    --qq--yb-text-color4_2_submit2: #ffffff;
    --qq--yb-text-color4_3: #ffffff;
    --qq--yb-text-color4_3_1: #d7dee3;
    --qq--yb-text-color4_3_2: #179CFF;
    --qq--yb-text-color4_3_3: #555555;
    --qq--yb-text-color5: #2d2d2d;
    --qq--yb-text-color9: #2d2d2d;
    --qq--yb-text-color9_0: #ECF7FF;
    --qq--yb-text-color10: #ffb001;
    --qq--yb-text-color11: #ffffff;
    --qq--yb-text-color12: #626262;
    --qq--yb-text-color13: #414655;
    --qq--yb-text-color27: #414655;
    --qq--yb-text-color28: #333333;
    --qq--yb-text-color29: #6c6c6c;
    --qq--yb-bg-hover-color24: #179CFF;
    --qq--y0-text-color1: #179CFF;
    --qq--y0-text-color1_1_1: #179CFF;
    --qq--y0-text-color1_results: #179CFF;
    --qq--y0-text-color-champion: #1d1d1d;
    --qq--y0-text-color-champion-1: #179CFF;
    --qq--y0-text-color1_1: #ffffff;
    --qq--y0-text-color1_2_1: #7ca6ce;
    --qq--y0-text-color1_2: #E93D3D;
    --qq--y0-text-color1_3: #FF7000;
    --qq--y0-text-color1_4: #555555;
    --qq--y0-text-color2: #179CFF;
    --qq--y0-text-color4: #17191d;
    --qq--y0-text-color5: #1D1D1D;
    --qq--y0-text-color5_1: #6C6C6C;
    --qq--y0-text-color5_2: #1D1D1D;
    --qq--y0-text-color5_2_left: #6C6C6C;
    --qq--y0-text-color5_3: #1D1D1D;
    --qq--y0-text-color6: #6C7BA8;
    --qq--y0-text-color10: #179CFF;
    --qq--y0-text-color12: #4176fa;
    --qq--y0-text-color121: #179CFF;
    --qq--y0-text-color14: #1d1d1d;
    --qq--y0-text-color15: #0086f3;
    --qq--yb-text-color15: #626262;
    --qq--yb-text-color17: #179CFF;
    --qq--yb-text-color18: #17191d;
    --qq--yb-text-color19: #f7f8fa;
    --qq--yb-text-color20: #179CFF;
    --qq--yb-text-color21: #414655;
    --qq--yb-text-color22: #a5aec8;
    --qq--yb-text-color23: #6C6C6C;
    --qq--yb-text-color25: #17191d;
    --qq--yb-text-color26: #CBCED8;
    --qq--yb-text-color26_1: #555555;
    --qq--yb-text-color27_1: #FFFFFF;
    --qq--y0-text-color0: #179CFF;
    --qq--y0-text-color28: #179CFF;
    --qq--y0-text-color29: #179CFF;
    --qq--y0-text-color30: #ffffff;
    --qq--yb-text-active-color1: #1d1d1d;
    --qq--yb-text-active-color1_1: #ffffff;
    --qq--yb-text-active-colornew1: #45B0FF;
    --qq--menu-text-color2: #868686;
    --qq--menu-text-color3: #179CFF;
    --qq--menu-text-color4: #414655;
    --qq--match-text-color1: #868686;
    --qq--match-text-color3: #179CFF;
    --qq--match-text-color4: #5a6074;
    --qq--match-text-color5: #83838a;
    --qq--match-text-color6: #179CFF;
    --qq--chatroom-text-color-1: #179CFF;
    --qq--chatroom-text-color-2: #FC2222;
    --qq--y0-collect-start-text-color-3: #ffb001;
    --qq--y0-collect-start-text-color-upd-4: #ffb001;
    --qq--match-new-text-color1: #6c6c6c;
    --qq--match-new-text-color2: #555555;
    --qq--details-chat-blue: #179CFF;
    --qq--details-chat-origin: #FF7000;
    --qq--details-chat-num_zero: #D1D1D1;
    --qq--menu-item-text-color: #555555;
    --qq--menu-item-text-color-hover: #179CFF;
    --qq--menu-item-number-color: #6C6C6C;
    --qq--menu-item-title-color: #179CFF;
    --qq--back-menu-bg-border-color: #D7DEE3;
    --qq--menu-middle-text-color: #6C6C6C;
    --qq--menu-middle-text-color-hover: #FFFFFF;
    --qq--theme-bd-keyboard-color-hover: #179CFF;
    --qq--theme-bd-keyboard-text-color-hover: #FFFFFF;
    --qq--theme-color-disable-keyboard: #CBCED8;
    --qq--bet-pre-money-text-color: #179CFF;
    --qq--bet-pre-btn-text-color: #555555;
    --qq--book-content-pre-color: #555555;
    --qq--notice-top-text-color: #626262;
    --qq--notice-content-text-color: #191c24;
    --qq--vr-text-color: #6C6C6C;
    --qq--vr-text-color-hover: #FFFFFF;
    --qq--vr-border-color: #E2E2E4;
    --qq--theme-bd-color-common: #414655;
    --qq--theme-bd-color-handicap: #414655;
    --qq--theme-bd-invalid: 1px solid #ff4040;
    --qq--theme-bd-win: #E93D3D;
    --qq--theme-bd-lose: #a5aec8;
    --qq--theme-bd-bet-pre-input: #F2F5F9;
    --qq--theme-bd-color-handicap-hover: #fff;
    --qq--theme-bd-color-search-wrap: #419bf9;
    --qq--theme-bd-color-notice-btn: #e4eaff;
    --qq--theme-bd-color-card-btn-active: #2cb2ff;
    --qq--theme-bd-color-menu: #e4eaff;
    --qq--theme-bd-refresh-icon: #e4eaff;
    --qq--bd-menu-mini: #bfcedd;
    --qq--theme-bd-color-notice: #ECF7FF;
    --qq--theme-bd-color-notice-top: #ECF7FF;
    --qq--theme-bd-bottom-searchBox: #bfcedd;
    --qq--theme-bd-color-search-pnl: #f6f7fa;
    --qq--theme-bd-bet-content: #bfcedd;
    --qq--theme-bd-keyboard-btn: #bfcedd;
    --qq--theme-bd-color-close: #999;
    --qq--theme-bd-bet-btn-cancel: #bfcedd;
    --qq--theme-bd-bet-btn-cancel-1: rgba(0,0,0,0.2);
    --qq--theme-bd-main-content: #f0f6ff;
    --qq--bd-check-wrap: #d1d5d8;
    --qq--theme-bd-main-search: #ebecf3;
    --qq--bd-filter-btn-close: rgba(216,222,234,0.5);
    --qq--bd-filter-btn-dis: #e6ebf2;
    --qq--bd-wrap-title: #bfcedd;
    --qq--bd--search-footer: #e1e4e6;
    --qq--theme-bd-simple-header: #ebecf3;
    --qq--theme-bd-pre-btn: rgba(23, 156, 255, 0.50);
    --qq--theme-bd-pre-stop-btn: 0.5px solid rgba(191,206,221,1);
    --qq--theme-bd-bet-item: #e4ebf1;
    --qq--theme-bd-btn-confrim: #d0d8de;
    --qq--theme-bd-top-btn-confrim: #d0d8de;
    --qq--theme-bd-top-btn: #d0d8de;
    --qq--theme-bd-top-bt-btn: #d0d8de;
    --qq--theme-bd-scrollarea: none;
    --qq--theme-bd-y-select: 1px solid #d0d8de;
    --qq--theme-bd-tab-btn-wrap: #e7eaee;
    --qq--theme-bd-q-date: 0;
    --qq--theme-bd-load-all: 1px solid rgba(216,222,234,0.5);
    --qq--theme-bd-y-checkbox: none;
    --qq--theme-bd-r-checked: none;
    --qq--theme-bd-tab-item: #e4eaff;
    --qq--theme-bd-tab-item-hover: #179CFF;
    --qq--yb-border-color1: #ebecf4;
    --qq--yb-border-color2: #ebecf3;
    --qq--yb-border-color3: #5a6074;
    --qq--yb-border-color6: rgba(209, 213, 216, 0.6);
    --qq--yb-border-color7: #E2E2E4;
    --qq--yb-border-color8: #d1d1d1;
    --qq--yb-border-color10: #d0d8de;
    --qq--yb-border-color11: #d0d8de;
    --qq--yb-border-color12: #bfcedd;
    --qq--yb-border-color13: #dce0e5;
    --qq--yb-border-color14: #d0d8de;
    --qq--yb-border-color15: #bfcedd;
    --qq--yb-border-color16: #bfcedd;
    --qq--yb-border-color81: #BACCFC;
    --qq--menu-border-color: #ebecf3;
    --qq--match-border-color2: #F5F5F5;
    --qq--match-border-color2_2: #ffffff;
    --qq--match-border-color1: #179CFF;
    --qq--match-border-color3: #eaeaea;
    --qq--match-border-color4: #d1d5d8;
    --qq--match-border-color5: #E2E2E2;
    --qq--match-border-color6: #ffffff;
    --qq--match-icon-color1: #a5aec8;
    --qq--list-replay-border-color: #ebecf3;
    --qq--league-rank-border-color: #eff0f6;
    --qq--carousel-handicap-item-border-color: #ebecf3;
    --qq--wrap-icon-border-hover: #dedfe6;
    --qq--more-handle-border-color: #dedfe6;
    --qq--wrap-recents-handicap-border-color: #ebecf3;
    --qq--sr-link-icon-bd-color: #e4eaff;
    --qq--linear-progress-bd-color: #dbdbdb;
    --qq--sports-guessing-bd-color: #e4eaff;
    --qq--chatroom-bd-color-1: #DCE0E5;
    --qq--chatroom-bd-color-2: #d9d9d9;
    --qq--chatroom-bd-color-3: rgba(66,118,251,.5);
    --qq--chatroom-bd-color-4: #179CFF;
    --qq--vr-border-color1: #ebecf3;
    --qq--vr-border-color2: #ebecf3;
    --qq--vr-border-color3: #ebecf3;
    --qq--go-top-btn-border: #ebecf3;
    --qq--match-type-tab-bg-border: #ECF7FF;
    --qq--list-header-row-item-border: #E2E2E4;
    --qq--activity-bd-color-2: #A4BEFE;
    --qq--activity-bd-color-3: transparent;
    --qq--activity-bd-color-4: #ddd;
    --qq--bet-dialog-border-color1: #569FFD;
    --qq--skin-toggle-bd-color: #e4eaff;
    --qq--check-wrap-active-color: #fff;
    --qq--list-new-border-color: #f5f5f5;
    --qq--match-border-colornew: #F5F5F5;
    --qq--theme-bg-common: #414655;
    --qq--theme-bg-line: #179CFF;
    --qq--bg-main-scroll: #f0f6ff;
    --qq--bg-main-scroll-h: #dde1eb;
    --qq--bg-check-wrap: #fff;
    --qq--theme-bg-handicap: #414655;
    --qq--theme-bg-record: #fff;
    --qq--theme-bg-invalid: rgba(255, 64, 64, 0.8);
    --qq--theme-bg-win: #E93D3D;
    --qq--theme-bg-lose: #6C6C6C;
    --qq--theme-bg-bet-series: rgba(86,159,253,0.1);
    --qq--theme-bg-bet-zone-head: transparent;
    --qq--theme-bg-bet-bet-submit2: #CBCED8;
    --qq--theme-bg-mask: rgba(225,225,225,0.8);
    --qq--theme-cathectic-appoint: rgba(255, 255, 255, 0.5);
    --qq--theme-bg-handicap-hover: #179CFF;
    --qq--theme-bg-bet-confirm: #179CFF;
    --qq--theme-bg-bet-item: #414655;
    --qq--theme-bg-bet-item-right: rgba(240,246,255,0.4);
    --qq--theme-bg-bet-item-hover: #ecf4ff;
    --qq--theme-bg-bet-pre-input: transparent;
    --qq--theme-bg-bet-card: #F0F5FC;
    --qq--theme-bg-add-sub: #F2F5F9;
    --qq--theme-bg-video-item: #179CFF;
    --qq--theme-bg-bet-saidan-list: #FFFFFF;
    --qq--theme-bg-clear-btn: rgba(248,249,251,0.20);
    --qq--theme-bg-is-saidan-unclick: #F6F7FA;
    --qq--theme-bg-date-menu-row: #fff;
    --qq--list-header-row-bg: #fff;
    --qq--list-header-row-item-bg: #fff;
    --qq--list-header-leagues-tabs-bg: linear-gradient(99deg, rgba(23, 156, 255, 0.12) -5.42%, rgba(23, 156, 255, 0.00) 21.76%), #fff;
    --qq--chuanguan-bg-color: #fff;
    --qq--theme-bg-btn-group: #fff;
    --qq--theme-bg-search-match: #fff;
    --qq--theme-bg-search-result: #fff;
    --qq--theme-bg-search-hover: #F3FAFF;
    --qq--theme-bg-site-header: #fff;
    --qq--theme-bg-bet-content: #fff;
    --qq--theme-bg-bet-btn: hsla(0,0%,100%,0.6);
    --qq--theme-bg-bet-btn-appoint: rgba(65,118,250,0.15);
    --qq--theme-main-content-bg-color: #EFF1F6;
    --qq--bet-main-content-bg-color: #ffffff;
    --qq--theme-bg-search-mask: rgba(20,23,29,0.15);
    --qq--mk-content-bg-color: #EFF1F6;
    --qq--theme-bg-menu-line-active: #179CFF;
    --qq--theme-bg-menu-toggle-btn: #179CFF;
    --qq--theme-bg-menu-fixed: #ffffff;
    --qq--y0-menu-inline-column: block;
    --qq--y0-menu-inline-row: inline-block;
    --qq--y0-menu-inline-row-5: 5px;
    --qq--y0-menu-inline-column-0: 0px;
    --qq--theme-bg-menu-match-type: linear-gradient(319.79deg, #179CFF,#179CFF);
    --qq--theme-bg-menu-match-type-no-active: linear-gradient(0deg, #FFFFFF,#E5EDFF,#FFFFFF);
    --qq--theme-bg-menu-match-type-hover-no-active: linear-gradient(180deg, #F3F5FB,#F3F5FB);
    --qq--theme-bg-menu-match-type-old: linear-gradient(180deg, #FFFFFF,#FFFFFF);
    --qq--theme-bg-menu-match-type-solid: #BFCEDD;
    --qq--theme-bg-menu-match-type-count-no-active: #414655;
    --qq--theme-bg-match-type: linear-gradient(225deg,#3d72fa,#62b6ff);
    --qq--theme-bg-match-league-row: linear-gradient(180deg,#fff 22%,#f7f8ff);
    --qq--theme-bg-match-detail-play-name-row: linear-gradient(180deg,#fff 22%,#f7f8ff);
    --qq--theme-bg-main-menu-active: linear-gradient(225deg,rgba(61,114,250,0),rgba(98,182,255,0.3));
    --qq--theme-bg-menu-fold2-wrap: linear-gradient(269deg,#fff,#f0f6ff);
    --qq--theme-bg-menu-search-wrap: #419bf9;
    --qq--theme-bg-card-btn: linear-gradient(180deg,#62b6ff,#3d72fa);
    --qq--theme-bg-card-btn2: linear-gradient(135deg,#3d72fa,#62b6ff);
    --qq--theme-bg-card-btn3: linear-gradient(135deg,#3d72fa,#62b6ff);
    --qq--theme-bg-btn-active1: #f0f6ff;
    --qq--theme-bg-select-btn: #f0f6ff;
    --qq--theme-bg-btn-active2: linear-gradient(180deg,#138CFF,#138CFF);
    --qq--theme-bg-search-box: linear-gradient(-62deg,rgba(86,159,253,0.1) 4%,rgba(86,159,253,0.1) 96%);
    --qq--img-bg-today-menu: url(public/yazhou-pc/image/png/today_menu_bg_2.png);
    --qq--img-bg-today-menu-active: url(public/yazhou-pc/image/png/today_menu_bg_2_2_active.png);
    --qq--img-bg-menu-live: url(public/yazhou-pc/image/common/png/live_txt_02.png);
    --qq--theme-bg-details_loading: rgba(0, 0, 0, 0.6);
    --qq--theme-bg-simple-header: #ffffff;
    --qq--theme-bg-pre-btn: rgba(23,156,255,0.20);
    --qq--theme-bg-pre-btn-1: #179CFF;
    --qq--theme-bg-pre-btn-2: #F2F2F2;
    --qq--theme-bg-pre-btn-hover: rgba(23, 156, 255, 0.5);
    --qq--theme-bg-pre-btn2: transparent;
    --qq--theme-bg-pre-stop-btn: #FFFFFF;
    --qq--theme-bg-load-all: #fff;
    --qq--theme-bg-bet-detail: #DFECFE;
    --qq--theme-bg-bet-ceil-detail: transparent;
    --qq--theme-bg-date-range: currentColor;
    --qq--theme-bg-match_results: #EFF1F6;
    --qq--theme-bg-results-search-btn: #179cff;
    --qq--theme-bg-wrap-time-hover: #f6f7fa;
    --qq--theme-bg-appoint-order: #FFFFFF;
    --qq--theme-bg-appoint-line: #E4EBF1;
    --qq--theme-bg-appoint-order-status: 0;
    --qq--theme-bg-bet-series-open: #179CFF;
    --qq--theme-bg-bet-series-close: #FFFFFF;
    --qq--theme-bg-bet-series-text-open: #179CFF;
    --qq--theme-bg-bet-series-text-close: #99A3B1;
    --qq--theme-bg-bet-text-delete: #179CFF;
    --qq--theme-bg-bet-count: #179CFF;
    --qq--theme-bg-handicap-item: #ffffff;
    --qq--theme-bg-table-content: #ffffff;
    --qq--theme-bg-shadow-bg: #f5f7fa;
    --qq--img-bg-position-sort: -24px;
    --qq--img-bg-position-sort-up: -36px;
    --qq--popup-wrap-bg-color: #f5f6fa;
    --qq--version-popup-wrap-bg-color: #ffffff;
    --qq--popup-wrap-bg-color-hover: linear-gradient(90deg, rgba(23, 156, 255, 0.3) 0%, rgba(250, 252, 255, 0.01) 100%);
    --qq--popup-wrap-box-shadow: 0 0 4px 2px rgb(0 0 0 / 10%);
    --qq--popup-wrap-text-color-active: #179CFF;
    --qq--popup-wrap-text-color-active-1: #fff;
    --qq--popup-wrap-text-color-active-2: #D7DEE3;
    --qq--theme-bg-refresh-icon: #fff;
    --qq--bg-main-search: #f5f6fa;
    --qq--bg-filter-btn-dis: #f0f5fc;
    --qq--bg-filter-btn-close: none;
    --qq--bg-wrap-point: #d0d8de;
    --qq--bg--search-footer: #fafafa;
    --qq--theme-bg-tab-item-active: #179CFF;
    --qq--theme-bg-tab-item-hover: rgba(66,118,251,0.06);
    --qq--theme-bg-play-name-before: #179CFF;
    --qq--list-replay-bg-color: #fff;
    --qq--theme-bg-video-history-progress: #179CFF;
    --qq--theme-bg-video-history-progress-container: rgba(0, 0, 0, 0.1);
    --qq--theme-border-video-history-icon: #179CFF66;
    --qq--theme-bg-announce: transparent;
    --qq--bg-left-menu-hover: #F3fAFF;
    --qq--theme-body-bg-color: #ffffff;
    --qq--y0-btn-hover: #179CFF;
    --qq--y0-btn-color6: #555555;
    --qq--y0-select-background6: #ffffff;
    --qq--y0-btn-hover2: #179CFF;
    --qq--bet-bg-color1: #ffffff;
    --qq--yb-bg-color1: #ffffff;
    --qq--yb-bg-color2: #f5f6fa;
    --qq--yb-bg-color3: #f6f7fa;
    --qq--yb-bg-color4: #ffb001;
    --qq--yb-bg-color5: #fff;
    --qq--yb-bg-color6: #f0f2f5;
    --qq--yb-bg-color7: #ffffff;
    --qq--yb-bg-color8: rgba(90, 96, 116, 0.3);
    --qq--yb-bg-color9: #cde8ff;
    --qq--yb-bg-color10: #e4ebf1;
    --qq--yb-bg-color11: rgba(246,247,250,0.9);
    --qq--yb-bg-color12: linear-gradient(243deg, #F2F5F9 14.69%, #A8B1CA 116.69%);
    --qq--yb-bg-color12_1: linear-gradient(243deg, rgba(242, 245, 249, 0.50) 14.69%, rgba(168, 177, 202, 0.50) 116.69%);
    --qq--version-old-new-active: linear-gradient(90deg, rgba(23, 156, 255, 0.3) 0%, rgba(250, 252, 255, 0.01) 100%);
    --qq--yb-bg-color14: rgba(29, 33, 39, 0.94);
    --qq--yb-bg-color15: rgba(58, 64, 76, 0.96);
    --qq--yb-bg-color16: rgba(0, 0, 0, 0.5);
    --qq--yb-bg-color18: #e7eaee;
    --qq--yb-bg-color21: #f7f8fa;
    --qq--yb-bg-color22: #ffffff;
    --qq--yb-bg-color23: #EFF8FF;
    --qq--yb-bg-highlight-t-color23: #EFF8FF;
    --qq--yb-bg-highlight-y-color23: #FAFCFF;
    --qq--yb-bg-color23-1: #f5f6f9;
    --qq--yb-bg-color24: #fff;
    --qq--yb-bg-color25: #f6f7fa;
    --qq--y0-bg-color20: #f3faff;
    --qq--y0-bg-color20_1: #FFFFFF;
    --qq--y0-bg-color1: #232A34;
    --qq--y0-bg-color1_1: linear-gradient(0deg, #F2F5F9 0%, #F2F5F9 100%), linear-gradient(180deg, #FFF 2.62%, #F4F5FF 100%);
    --qq--y0-bg-color2: #ffffff;
    --qq--y0-bg-color2-2-2: #ffffff;
    --qq--y0-bg-color2_1: #ffffff;
    --qq--y0-bg-color2_1_1: #D7DEE3;
    --qq--y0-bg-color7: #F3FAFF;
    --qq--y0-bg-color8: #EFF1F6;
    --qq--y0-bg-color11: #F2F5F9;
    --qq--y0-bg-color12: #ffffff;
    --qq--y0-bg-color12_1: #179CFF;
    --qq--y0-bg-color12_1-1: #179CFF;
    --qq--y0-bg-color12_3: #ff7000;
    --qq--y0-bg-color12_2: #ffffff;
    --qq--y0-bg-color13: #e3e9ee;
    --qq--re-bg-color1: #eff1f6;
    --qq--re-bg-color1_1: #ffffff;
    --qq--re-bg-color2: #e7eaee;
    --qq--re-bg-color3: #fff;
    --qq--re-bg-color4: #f6f7fa;
    --qq--re-bg-color5: #e7eaee;
    --qq--menu-bg-image1: url(public/yazhou-pc/image/common/png/y0_sport_icon36.png);
    --qq--esport-bg-image: url(public/yazhou-pc/image/common/png/sport_icon36.png);
    --qq--menu-bg-color2: #314A6B;
    --qq--menu-bg-color3: #2A3C53;
    --qq--menu-bg-color4: #1F2022;
    --qq--menu-bg-color5: #f6f7fa;
    --qq--menu-bg-color6: linear-gradient(-45deg,rgba(98,182,255,0.3),rgba(98,182,255,0.3) 55%,rgba(98,182,255,0.3));
    --qq--menu-bg-color7: linear-gradient(225deg,rgba(61,114,250,0),rgba(98,182,255,0.3));
    --qq--menu-bg-color8: linear-gradient(225deg, rgba(23, 156, 255, 0.20) 0%, rgba(23, 156, 255, 0.20) 100%);
    --qq--menu-bg-color9: rgba(86, 159, 253, 0.1);
    --qq--menu-bg-color10: #dedede;
    --qq--menu-bg-color11: #F3FAFF;
    --qq--match-bg-color1: #1F2022;
    --qq--match-bg-color2: #314A6B;
    --qq--match-bg-color3: #2A3C53;
    --qq--match-bg-color4: #fff;
    --qq--match-bg-color5: rgba(255, 255, 255, 0.6);
    --qq--match-bg-color6: #179CFF;
    --qq--match-bg-color7: #ecf4ff;
    --qq--match-bg-color8: #f0f6ff;
    --qq--match-bg-color11: #EFF1F6;
    --qq--match-bg-color12: #e7eaee;
    --qq--match-bg-color13: rgba(203, 206, 216, .5);
    --qq--list-replay-number-bg-color: #f8f9fb;
    --qq--league-rank-header-bg-color: #f7f8fa;
    --qq--vs-team-wrap-bg-color: #a8b2c2;
    --qq--vs-team-wrap-hover: #ecf4ff;
    --qq--vs-team-wrap-item-bg-color: #fff;
    --qq--info-img-wrap-bg-color: #f5f6fa;
    --qq--carousel-handicap-item-bg-color: #f5f6fa;
    --qq--icon-star-bg-color: #CBCED8;
    --qq--control-item-bg-color: #e7eaee;
    --qq--wrap-recents-bg-color: rgba(235,236,243,0.6);
    --qq--wrap-recents-border-color: rgba(235,236,243,0.6);
    --qq--wrap-recents-handicap-bg-color: #f5f6fa;
    --qq--handicap-sub-title-bg-color: #ffffff;
    --qq--linear-progress-bg-color: rgba(0,0,0,0.05);
    --qq--linear-progress-bg-color-2: #179CFF;
    --qq--linear-progress-bg-color-3: #179CFF;
    --qq--stripe-bg-color: #f0f6ff;
    --qq--vr-virtual_statu-bg-color: #e7eaee;
    --qq--chatroom-bg-color-1: #fff;
    --qq--chatroom-bg-color-2: #fff;
    --qq--chatroom-bg-color-3: #fff;
    --qq--chatroom-bg-color-4: #d8d8d8;
    --qq--chatroom-bg-color-5: #ECF1FF;
    --qq--point-wrap-color: #c1c4c7;
    --qq--go-top-btn-bg-color-hover: #0086f3;
    --qq--go-top-btn-bg-color-hover22: #0086f3;
    --qq--analysis-bg-color-4: #569ffd;
    --qq--analysis-bg-color-10: #e7eaee;
    --qq--analysis-bg-color-11: rgba(23, 156, 255, 0.1);
    --qq--analysis-bg-color-15: #F4FAFF;
    --qq--analysis-bg-color-16: #F4FAFF;
    --qq--vr-yb-bg-color2: #f0f6ff;
    --qq--vr-yb-bg-color3: #fff;
    --qq--vr-handicap-sub-title-bg-color: #f8faff;
    --qq--bet-dialog-bg-color1: #179cff;
    --qq--activity-bg-color-2: #F0F6FF;
    --qq--activity-bg-color-3: #c3d5f5;
    --qq--activity-bg-color-7: #179CFF;
    --qq--sr-link-icon-bg-color: #f5f6fa;
    --qq--sr-link-icon-bg-color-hover: #ebecf3;
    --qq--sr-link-icon-bg-img: none;
    --qq--bg-replay-tab: #fff;
    --qq--analysis-bg-gradient-2: linear-gradient(-40deg, #138CFF 0%, #138CFF 100%);
    --qq--background-gradient-14: linear-gradient(180deg,#fff 22%,#f7f8ff);
    --qq--detail-right-model-bg-color: #f6f7fa;
    --qq--league-rank-bg-img: linear-gradient(0deg,#fff 21%,#f0f3f7);
    --qq--background-gradient-1: #ECF7FF;
    --qq--background-gradient-1_1: #F8F8F8;
    --qq--background-gradient-1_2: #FFFFFF;
    --qq--background-gradient-4: #F8F8F8;
    --qq--background-gradient-5: linear-gradient(180deg, #FFFFFF 21%, #F0F3F7 100%);
    --qq--background-gradient-6: linear-gradient(180deg, #179CFF 0%, #179CFF 100%);
    --qq--background-gradient-7: #ebecf3;
    --qq--background-gradient-8: #ffffff;
    --qq--background-gradient-9: linear-gradient(270deg,#179CFF,#179CFF);
    --qq--background-gradient-10: linear-gradient(270deg, #62B6FF 0%, #3D72FA 100%);
    --qq--background-gradient-12: linear-gradient(269deg,#fff,#f0f6ff);
    --qq--background-gradient-13: #FFFFFF;
    --qq--theme-body-bg--esport-color: #FFFFFF;
    --qq--background-gradient-15: linear-gradient(269deg,#fff,#f0f6ff);
    --qq--background-gradient-16: linear-gradient(269deg,#fff,#f0f6ff);
    --qq--background-gradient-17: linear-gradient(225deg, rgba(61, 114, 250, 0) 0%, rgba(65, 118, 250, 0.3) 100%);
    --qq--chatroom-gradient-1: linear-gradient(225deg, #F5F6FA 0%, #A8B1CA 100%);
    --qq--background-gradient-color-1-s: #179CFF;
    --qq--background-gradient-color-1-e: #179CFF;
    --qq--background-gradient-color-2-s: #179cff1e;
    --qq--background-gradient-color-2-e: #179cff00;
    --qq--vr-bg-color1: linear-gradient(180deg,#fff 21%,#f0f3f7);
    --qq--vr-bg-color2: #fff;
    --qq--vr-bg-color3: none;
    --qq--vr-bg-color4: linear-gradient(180deg,#fff 21%,#f0f3f7);
    --qq--vr-bg-color5: #e7eaee;
    --qq--vr-bg-color6: rgba(0, 0, 0, 0.4);
    --qq--vr-bg-color7: none;
    --qq--vr-bg-color8: #f5f6fa;
    --qq--vr-bg-color9: #f6f7fa;
    --qq--vr-bg-color10: #fff;
    --qq--vr-bg-color11: #e7eaee;
    --qq--vr-bg-color12: linear-gradient(180deg,#fff 21%,#f0f3f7);
    --qq--vr-bg-color13: linear-gradient(90.04deg, #FEF2F2 0%, #D6E6F4 99.22%);
    --qq--activity-bd-img-gradient-2: linear-gradient(180deg, #FFFFFF 22%, #F7F8FF 100%);
    --qq--activity-bd-img-gradient-3: linear-gradient(180deg, #62B6FF 0%, #3D72FA 100%);
    --qq--activity-tab-bg-img-active: linear-gradient(180deg, #62B6FF 0%, #3D72FA 100%);
    --qq--activity-btn-bg-img1: url(public/yazhou-pc/image/activity_imgs/imgs/get_box_y0.svg);
    --qq--activity-btn-bg-img2: url(public/yazhou-pc/image/activity_imgs/imgs/get_bonus_y0.svg);
    --qq--vr-bg-image1: url(public/yazhou-pc/image/common/virtual/y0_live.svg);
    --qq--vr-bg-image2: url(public/yazhou-pc/image/svg/whistle01.svg);
    --qq--vr-bg-image3: url(public/yazhou-pc/image/svg/trophy01.svg);
    --qq--vr-bg-image4: url(public/yazhou-pc/image/svg/elimination_bg01.svg);
    --qq--vr-bg-image5: url(public/yazhou-pc/image/theme01_y0/img/svg/virtual_right_rank_title.svg);
    --qq--bg-image-url1: url(public/yazhou-pc/image/common/png/y0_hot_icon_1.png);
    --qq--bg-image-url2: url(public/yazhou-pc/image/common/png/y0_sport_icon.png);
    --qq--bg-image-url51: url(public/yazhou-pc/image/common/png/sport_icon_blue_hover.png);
    --qq--bg-image-old-url2: url(public/yazhou-pc/image/common/png/y0_sport_old_icon.png);
    --qq--bg-image-url4: url(public/yazhou-pc/image/svg/sports_bg_100.svg);
    --qq--bg-image-url5: url(public/yazhou-pc/image/svg/sports_bg_101.svg);
    --qq--bg-image-url6: url(public/yazhou-pc/image/svg/sports_bg_103.svg);
    --qq--bg-image-url7: url(public/yazhou-pc/image/svg/sports_bg_102.svg);
    --qq--bg-image-url8: url(public/yazhou-pc/image/svg/y0_details_info.svg);
    --qq--bg-image-url9: url(public/yazhou-pc/image/svg/y0_details_info_focus.svg);
    --qq--bg-image-url10: url(public/yazhou-pc/image/theme01_y0/img/gif/loading_theme01.gif);
    --qq--bg-image-url11: url(public/yazhou-pc/image/theme01_y0/img/svg/lock.svg);
    --qq--bg-image-url12: url(public/yazhou-pc/image/theme01_y0/img/svg/video0.svg);
    --qq--bg-image-url13: url(public/yazhou-pc/image/theme01/img/svg/video2_bule.svg);
    --qq--bg-image-url14: url(public/yazhou-pc/image/theme01_y0/img/svg/animation0.svg);
    --qq--bg-image-url15: url(public/yazhou-pc/image/theme01_y0/img/svg/animation2.svg);
    --qq--bg-image-url16: url(public/yazhou-pc/image/theme01_y0/img/svg/switch0.svg);
    --qq--bg-image-url17: url(public/yazhou-pc/image/theme01_y0/img/svg/switch2.svg);
    --qq--bg-image-url18: url(public/yazhou-pc/image/theme01_y0/img/svg/live_studio02.svg);
    --qq--bg-image-url19: url(public/yazhou-pc/image/theme01_y0/img/svg/live_studio01.svg);
    --qq--bg-image-url20: url(public/yazhou-pc/image/theme01_y0/img/svg/anchor02.svg);
    --qq--bg-image-url21: url(public/yazhou-pc/image/theme01_y0/img/svg/anchor01.svg);
    --qq--bg-image-url22: url(public/yazhou-pc/image/theme01_y0/img/svg/topic02.svg);
    --qq--bg-image-url23: url(public/yazhou-pc/image/theme01_y0/img/svg/topic01.svg);
    --qq--bg-image-url24: url(public/yazhou-pc/image/common/png/team_logo_01.png);
    --qq--bg-image-url25: url(public/yazhou-pc/image/theme01/team_logo/logo.svg);
    --qq--bg-image-url26: url(public/yazhou-pc/image/theme01_y0/img/svg/unfold_close_thme01.svg);
    --qq--bg-image-url27: url(public/yazhou-pc/image/theme01/img/svg/unfold_open_them01_copy.svg);
    --qq--bg-image-url28: url(public/yazhou-pc/image/svg/video_match_results_select_active.svg);
    --qq--bg-image-url29: url(public/yazhou-pc/image/theme01_y0/img/png/tabs-line-right.png);
    --qq--bg-image-url30: url(public/yazhou-pc/image/theme01_y0/img/png/tabs-line-left.png);
    --qq--bg-image-url3: url(public/yazhou-pc/image/common/png/sport_icon_blue_hover.png);
    --qq--bg-image-url31: url(public/yazhou-pc/image/theme01_y0/img/svg/radio.svg);
    --qq--bg-image-url32: url(public/yazhou-pc/image/theme01_y0/img/svg/radio-checked.svg);
    --qq--bg-image-url33: url(public/yazhou-pc/image/theme01_y0/img/svg/checkbox.svg);
    --qq--bg-image-url34: url(public/yazhou-pc/image/theme01_y0/img/svg/checkbox-checked.svg);
    --qq--bg-image-url35: url(public/yazhou-pc/image/svg/theme01_plus.svg);
    --qq--bg-image-url36: url(public/yazhou-pc/image/svg/theme01_y0_del.svg);
    --qq--bg-image-url37: url(public/yazhou-pc/image/common/svg/y0_play_video.svg);
    --qq--bg-image-url38: url(public/yazhou-pc/image/theme01/img/png/new_empty.png);
    --qq--bg-image-url39: url(public/yazhou-pc/image/theme01/img/png/video_left.png);
    --qq--bg-image-url40: url(public/yazhou-pc/image/theme01/img/png/video_right.png);
    --qq--bg-image-url41: url(public/yazhou-pc/image/theme01/img/png/video_line.png);
    --qq--bg-image-url42: url(public/yazhou-pc/image/theme01/img/png/video_middle.png);
    --qq--bg-image-old-url43: url(public/yazhou-pc/image/common/png/sport_icon_old_hover.png);
    --qq--bg-image-url43: url(public/yazhou-pc/image/common/png/sport_icon_hover.png);
    --qq--bg-image-url44: url(public/yazhou-pc/image/common/png/y0_video_history_play.png);
    --qq--video-bg-image-url44: url(public/yazhou-pc/image/theme01_y0/img/svg/data.svg);
    --qq--results-bg-image-url45: url(public/yazhou-pc/image/theme01_y0/img/svg/result_info.svg);
    --qq--results-bg-image-url45-hover: url(public/yazhou-pc/image/theme01_y0/img/svg/result_info_hover.svg);
    --qq--bg-image-url46: url(public/yazhou-pc/image/common/png/y0_icon_ball_blue.png);
    --qq--bg-image-url47: url(public/yazhou-pc/image/common/png/y0_icon_ball_blue.png);
    --qq--bg-image-url48: url(public/yazhou-pc/image/common/png/y0_hot_icon_1.png);
    --qq--bg-image-url49: url(public/yazhou-pc/image/common/png/y1_icon_ball_blue_new.png);
    --qq--bg-image-url50: url(public/yazhou-pc/image/common/png/t1_icon_yellow_select_new.png);
    --qq--control-bg-img-url: url(public/yazhou-pc/image/theme01_y0/img/svg/arrow.svg);
    --qq--control-bg-img-url-hover: url(public/yazhou-pc/image/theme01_y0/img/svg/arrow_active.svg);
    --qq--chatroom-icon-1: url(public/yazhou-pc/image/theme01_y0/img/svg/chatroom01.svg);
    --qq--chatroom-icon-2: url(public/yazhou-pc/image/theme01_y0/img/svg/emoji01.svg);
    --qq--chatroom-icon-3: url(public/yazhou-pc/image/theme01_y0/img/svg/emoji02.svg);
    --qq--chatroom-icon-4: url(public/yazhou-pc/image/theme01_y0/img/svg/send01.svg);
    --qq--chatroom-icon-5: url(public/yazhou-pc/image/theme01_y0/img/svg/send02.svg);
    --qq--chatroom-icon-6: url(public/yazhou-pc/image/theme01_y0/img/svg/unmute_info.svg);
    --qq--chatroom-icon-7: url(public/yazhou-pc/image/theme01_y0/img/svg/mute_info.svg);
    --qq--chatroom-icon-8: url(public/yazhou-pc/image/theme01_y0/img/svg/show_order01.svg);
    --qq--chatroom-icon-9: url(public/yazhou-pc/image/theme01_y0/img/svg/show_order02.svg);
    --qq--chatroom-icon-10: url(public/yazhou-pc/image/theme01_y0/img/svg/statistics01.svg);
    --qq--chatroom-icon-11: url(public/yazhou-pc/image/svg/like_order01_y0.svg);
    --qq--chatroom-icon-12: url(public/yazhou-pc/image/svg/like_order_day.svg);
    --qq--chatroom-icon-13: url(public/yazhou-pc/image/png/notify_y0.png);
    --qq--chatroom-icon-14: url(public/yazhou-pc/image/theme01_y0/img/svg/ask-icon.svg);
    --qq--chatroom-bg-image1: url(public/yazhou-pc/image/common/png/select_blue.png);
    --qq--public-bg-image1: url(public/yazhou-pc/image/theme01/img/png/user_api_limited.png);
    --qq--public-bg-image2: url(public/yazhou-pc/image/theme01/img/png/no_data_01.png);
    --qq--public-bg-image3: url(public/yazhou-pc/image/theme01/img/png/no_data_es_01.png);
    --qq--public-bg-image4: url(public/yazhou-pc/image/theme01/img/png/no_video_01.png);
    --qq--public-bg-image5: url(public/yazhou-pc/image/theme01/img/png/page404_01.png);
    --qq--public-bg-image6: url(public/yazhou-pc/image/theme01/img/png/refresh_01.png);
    --qq--public-bg-image7: url(public/yazhou-pc/image/theme01/img/png/filter_no_data_01.png);
    --qq--activity-bd-img-1: url(public/yazhou-pc/image/activity_imgs/imgs/title_bg_y0.svg);
    --qq--activity-bd-img-2: url(public/yazhou-pc/image/activity_imgs/imgs/text-pre_y0.svg);
    --qq--activity-bd-img-3: url(public/yazhou-pc/image/activity_imgs/imgs/game_record.png);
    --qq--activity-bd-img-4: url(public/yazhou-pc/image/activity_imgs/imgs/get_all_bonus_y0.svg);
    --qq--activity-bd-img-5: url(public/yazhou-pc/image/activity_imgs/imgs/waiting_y0.svg);
    --qq--activity-bd-img-6: url(public/yazhou-pc/image/activity_imgs/imgs/game_record.png);
    --qq--user-info-show-bg-color1: url(public/yazhou-pc/image/theme01/balance_refresh.svg);
    --qq--user-info-show-bg-color2: url(public/yazhou-pc/image/theme01/balance_refresh_hover.svg);
    --qq--match-result-live-icon-bg: url(public/yazhou-pc/image/theme01/match-result-live.svg);
    --qq--match-result-play_icon: url(public/yazhou-pc/image/theme01/match-result-play_icon.svg);
    --qq--no-data-icon-bg: url(public/yazhou-pc/image/theme01/no-data.svg);
    --qq--icon-eye_show: url(public/yazhou-pc/image/svg/eye_show.svg);
    --qq--icon-eye_hide: url(public/yazhou-pc/image/svg/eye_hide.svg);
    --qq--match-results-drag-scroll-left: url(public/yazhou-pc/image/svg/video-swipe-arrow-left-new-day.svg);
    --qq--match-results-drag-scroll-right: url(public/yazhou-pc/image/svg/video-swipe-arrow-right-new-day.svg);
    --qq--handicap-new-bg-color: #F4FAFF;
    --qq--match_details_analysis_title: linear-gradient(98.85deg, rgba(23, 156, 255, 0.12) -5.42%, rgba(23, 156, 255, 0) 21.76%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    --qq--match_details_analysis_pannel_title: #F4FAFF;
    --qq--list-new-bg-color: #ffffff;
    --qq--list-data-bg-color: #fafcff;
    --qq--league-title-bg-color: #ffffff;
    --qq--odd-up-bg-color: #E93D3D1A;
    --qq--odd-down-bg-color: #50C0421A;
    --qq--league-border-bg-color: #ffffff;
    --qq--match_details_title_bg: #ffffff;
    --qq--match_details_right_rol: #f6f7fa;
    --qq--match_type_title_bg: linear-gradient(98.85deg, rgba(23, 156, 255, 0.12) -5.42%, rgba(23, 156, 255, 0) 21.76%),linear-gradient(0deg, #FFFFFF, #FFFFFF);
    --qq--match_type_title_bg2: linear-gradient(99deg, rgba(23, 156, 255, 0.12) -5.42%, rgba(23, 156, 255, 0.00) 21.76%), #FFF;
    --qq--table_tr_detail: #fff;
    --qq--menu-bg-title-color: rgba(23, 156, 255, 0.2);
    --qq--menu-bg-title-item-color: transparent;
    --qq--bet-record-tab-bg-color: #179CFF;
    --qq--back-menu-bg-button-color: #FFFFFF;
    --qq--back-menu-bg-color: linear-gradient(243.46deg, rgba(242, 245, 249, 0.5) 14.69%, rgba(168, 177, 202, 0.5) 116.69%);
    --qq--theme-bd-remove-color: #FDE5E5;
    --qq--theme-bd-play-color: #FFFFFF;
    --qq--theme-bd-keyboard-color: #FFFFFF;
    --qq--match-result-icon-color: #999999;
    --qq--match-result-date-bg-color: #ffffff;
    --qq--detail-icon-btn: url(public/yazhou-pc/image/svg/back-btn-day.svg);
    --qq--title-icon-btn: url(public/yazhou-pc/image/svg/icon-day-title-y1.svg);
    --qq--theme-bd-vr-color: #FFFFFF;
    --qq--theme-bd-vr-color-hover: #179CFF;
    --qq--box-shawdow-color: 0px 2px 8px 0px #D9DEEA;
    --qq--popup-setting-text-color-active: #000;
    --qq--popup-setting-item-color: #fbfbfb;
    --qq--popup-setting-item-on-color: #fff;
    --qq--popup-setting-item-border-color: #d7dee3;
    --qq--popup-setting-item-p-color: #595959;
    --qq--popup-setting-item-p-on-color: #595959;
    --qq--wrap-lang-bg-color: #FFFFFF;
    --qq--yb-bg-zone-color12: #ffffff;
    --qq--analysis-bd-color-4-1: #ECF7FF;
    --qq--btn-box-shadow-bg-color: rgba(0, 0, 0, 0.05);
    --qq--virtual_theme-bg-common: #EFF1F6;
    --qq--popup-setting-item-text-color: #595959;
    --qq--detail-play-name-title-bg-color: #FFFFFF;
    --qq--match-details-bg-color: #FCFCFC;
    --qq--width-line: 2px;
    --qq--bet-win-weight: 600;
    --qq--bet-row-1-weight: 500;
    --qq--bet-row-2-weight: 700;
    --qq--theme-bd-radius-pre-btn: 20px;
    --qq--theme-bd-radius-bet-series: 14px;
    --qq--theme-bd-radius-bet-submit: 24px;
    --qq--settings-label-text-opacity: 1;
}


