/*
 * @Author: Supermark
 * @Date: 2020-08-20 18:35:53
 * @Description: 详情页虚拟体育tab--白色
 */
[class*=theme0] {
  .vir-details-tab {
    background:var(--q-color-page-bg-color-105);
    border-bottom: 0.01rem solid  var(--q-color-border-color-35);
    .menu-item {
      color: var(--q-color-fs-color-139);
    }

    /*************** 选中的玩法集 *************** -S*/
    .t_color {
      color:var(--q-color-fs-color-114) !important;
      &:after {
        background:var(--q-color-page-bg-color-50);
      }
    }

    /*************** 选中的玩法集 *************** -E*/
    .menu-third {
      &:after {
        background: var(--q-color-page-bg-color-33) !important;
      }
    }
    .icon-style {
      background:var(--q-color-page-bg-color-105);
      box-shadow: var(--q-color-box-shadow-color-13);
      // box-shadow: -0.05rem 0 0.1rem -0.01rem rgba(0, 0, 0, 0.08);
    }
  }
  .historical-record {
    color: var(--q-color-fs-color-3);
    border-bottom: 1px solid  var(--q-color-border-color-27);
    &:after {
      background:var(--q-color-page-bg-color-50);
    }
  }
  .c-match-startistic {
     background-color:var(--q-color-page-bg-color-2);
    color: var(--q-color-fs-color-7);
    &::after {
      border-color: var(--q-color-border-color-5) !important;
    }
    .score-list {
      .score-item {
        .info {
          .score {
            color: var(--q-color-fs-color-7);
          }
          .line {
            background:var(--q-color-page-bg-color-50);
          }
          &.away {
            .line {
              background: var(--q-color-page-bg-color-84);
            }
          }
        }
        .separate {
          background:  var(--q-color-page-bg-color-31);
        }
      }
    }
    .result-wrap {
      border-bottom: 1px solid  var(--q-color-border-color-27);
      .item {
        .result-list {
          .result-item {
            background: var(--q-color-fs-color-8);
            color:var(--q-color-com-fs-color-8);
            &.item-W {
              background: var(--q-color-com-bg-color-13);
            }
            &.item-L {
              background: var(--q-color-com-bg-color-14);

            }
          }
        }
      }
    }
  }

  /*************** 灰色分割线开始 *************** -S*/
  .border-gray {
    background:var(--q-color-page-bg-color-114);
    &::after {
      border-color: var(--q-color-border-color-36) !important;
    }
  }

  /*************** 灰色分割线结束 *************** -E*/
  /*************** 白色分割线开始 *************** -S*/
  .border-white {
    border-bottom: 0.01rem solid  var(--q-color-com-border-color-13);
    background-color: var(--q-color-com-bg-color-25);
  }

  /*************** 白色分割线结束 *************** -E*/
  /*************** 马类编号开始 *************** -S*/
  .virtual-num {
    color:var(--q-color-com-fs-color-8);
  }

  /*************** 马类编号结束 *************** -E*/
  /*************** 马名开始 *************** -S*/
  .virtual-name {
    color: var(--q-color-fs-color-1);
  }

  /*************** 马名结束 *************** -E*/
  /*************** 排名开始 *************** -S*/
  .count-style {
    color: var(--q-color-fs-color-1);
    background:  var(--q-color-page-bg-color-88);
    &::after {
      border-color: var(--q-color-border-color-5) !important;
    }
  }
  .dynamic-l-item {
    &::after {
      border-color: var(--q-color-border-color-5) !important;
    }
  }
}

/*************** 排名结束 *************** -E*/
