/*
 * @Author: Supermark
 * @Date: 2020-08-20 18:35:53
 * @Description: 虚拟体育最外层父组件--白色
 */
[class*=theme0] {
  /*  头部 */
  .virtual-head {
    .type-bg {
      background-color: var(--q-color-page-bg-color-35);
    }
    .back-wrap {
      color:  var(--q-color-fs-color-54);
    }
  }
  .detail-header-bg {
     background-color:var(--q-color-page-bg-color-2);
    &:after {
      background-color:var(--q-color-com-bg-color-4);
    }
  }
  .detail-header {
    .debug-test {
      color: var(--q-color-com-fs-color-9);
    }
    .virtual-sports-stage {
      background-color: var(--q-color-com-bg-color-47);
    }
  }
}
