.c-esports-header {
    /* 黑色版顶部菜单英雄联盟背景 */
    &.sportsbg-100 {
      background-image: var(--qq--bg-image-url4);
    }
    /* 黑色版顶部菜单dota2背景 */
    &.sportsbg-101 {
      background-image: var(--qq--bg-image-url5);
    }
    /* 黑色版顶部菜单CSgo背景 */
    &.sportsbg-102 {
      background-image: var(--qq--bg-image-url6);
    }
    /* 黑色版顶部菜单王者荣耀背景 */
    &.sportsbg-103 {
      background-image: var(--qq--bg-image-url7);
    }
    .sport-tab {
      .sport-item {
        color: var(--q-gb-bg-c-5);
        &.active {
          // background-color: var(--q-gb-bg-c-11);
          color: var(--q-gb-t-c-11);
          font-weight: 500;
        }
      }
    }
    .date-wrap {
      background-color: var(--q-gb-bg-c-11);
      .tab-wrap {
        color: var(--q-gb-t-c-5);
        .tab-item.active {
          color:  var(--q-gb-t-c-16);
          font-weight: 550;
        }
      }
    }
  }