/*
 * @Author: Cable
 * @Description: 虚拟体育样式
 */
[class*=theme0] {
  .virtual-footer-menu {
    .refesh-wrap {
      background:var(--q-color-page-bg-color-50);
      border: 1px solid var(--q-color-com-border-color-12);
    }
  }
  .sub-m-menu {
    background:var(--q-color-page-bg-color-114);
    box-shadow: var(--q-color-box-shadow-color-10);
    .wrapper {
      &.current_sub_menu {
        &:after {
          background: var(--q-color-page-bg-color-43);
        }
        &.is-favorite {
          &:after {
            background: var(--q-color-com-bg-color-7);
          }
        }
        .wrapper-inner {
          .title0 {
            color:var(--q-color-fs-color-6);
          }
        }
      }
    }
  }
}
